{#
    The standard package navigation menu

    * `title` A possibly-null string. If it is null, `metadata.name metadata.version` will be used as the title
    * `metadata` A non-null instance of the MetaData struct
    * `platforms` A possibly-null vector of strings
    * `active_tab` A string with one of the following values:
        * `crate`
        * `source`
        * `builds`

    Note: `false` here is acting as a pseudo-null value since you can't directly construct null values
           and tera requires all parameters without defaults to be filled
#}
{% macro package_navigation(title=false, metadata, platforms=false, active_tab) %}
    <div class="cratesfyi-package-container">
        <div class="container">
            {# Page title #}
            <h1 id="crate-title">
                {%- if title -%}
                    {{ title }}
                {%- else -%}
                    {{ metadata.name }} {{ metadata.version }}
                    <i class="fa fa-copy fa-1" id="clipboard" aria-label="Copy crate name and version information"></i>
                {%- endif -%}
            </h1>

            {# Page description #}
            <div class="description">
                {%- if metadata.description -%}
                    {{ metadata.description }}
                {%- endif -%}
            </div>

            <div class="pure-menu pure-menu-horizontal">
                {# If there are platforms, show a dropdown with them #}
                {%- if platforms -%}
                    <ul class="pure-menu-list platforms-menu">
                        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                            <a href="#" class="pure-menu-link">Platform</a>
                            <ul class="pure-menu-children">
                                {%- for platform in platforms -%}
                                    <li class="pure-menu-item">
                                        <a href="/{{ metadata.name }}/{{ metadata.version }}/{{ platform }}/{{ metadata.target_name }}/"
                                            class="pure-menu-link">
                                            {{ platform }}
                                        </a>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </li>
                    </ul>
                {%- endif -%}

                <ul class="pure-menu-list">
                    {# The partial path of the crate, `:name/:release` #}
                    {%- set crate_path = metadata.name ~ "/" ~ metadata.version -%}

                    {# If docs are built, show a tab for them #}
                    {%- if metadata.rustdoc_status -%}
                        <li class="pure-menu-item">
                            {# The docs tab redirects to the docs, so the tab will never be selected and seen #}
                            <a href="/{{ crate_path | safe }}/{{ metadata.target_name }}/" class="pure-menu-link">
                                <i class="fa fa-fw fa-book"></i>
                                <span class="title"> Documentation</span>
                            </a>
                        </li>
                    {%- endif -%}

                    {# The crate information tab #}
                    <li class="pure-menu-item"><a href="/crate/{{ crate_path | safe }}"
                            class="pure-menu-link{% if active_tab == 'crate' %} pure-menu-active{% endif %}">
                            <i class="fa fa-fw fa-cube"></i>
                            <span class="title"> Crate</span>
                        </a>
                    </li>

                    {# The source view tab #}
                    <li class="pure-menu-item">
                        <a href="/crate/{{ crate_path | safe }}/source/"
                            class="pure-menu-link{% if active_tab == 'source' %} pure-menu-active{% endif %}">
                            <i class="fa fa-fw fa-folder-open-o"></i>
                            <span class="title"> Source</span>
                        </a>
                    </li>

                    {# The builds tab #}
                    <li class="pure-menu-item">
                        <a href="/crate/{{ crate_path | safe }}/builds"
                            class="pure-menu-link{% if active_tab == 'builds' %} pure-menu-active{% endif %}">
                            <i class="fa fa-cogs"></i>
                            <span class="title"> Builds</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endmacro package_navigation %}
