{#
    This is the unchanging top bar that is on every single page.
    The only piece of context it can take is `search_query`, which should
    be a string and will populate the search field if it exists
#}

{%- import "macros.html" as macros -%}

<div class="nav-container">
    <div class="container">
        <div class="pure-menu pure-menu-horizontal" role="navigation" aria-label="Main navigation">
            <form action="/releases/search" method="GET"
                class="landing-search-form-nav {% if not is_latest_version %}not-latest{% endif %}">
                {# The search bar #}
                <div id="search-input-nav" class="pure-menu-right">
                    <label for="nav-search">
                        {{ "search" | fas }}
                    </label>

                    {# If there is a search query, put it in the search bar #}
                    <input id="nav-search" name="query" type="text" aria-label="Find crate by search query"
                        placeholder="Find crate" {%- if search_query %} value="{{ search_query }}" {%- endif %}>
                </div>

                {# The top-left logo and name #}
                <a href="/" class="pure-menu-heading pure-menu-link" aria-label="Docs.rs">
                    <span title="Docs.rs">{{ "cubes" | fas }}</span>
                    <span class="title">Docs.rs</span>
                </a>

                <ul class="pure-menu-list pure-menu-right">
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-opt-children">
                        <a href="/about" class="pure-menu-link">
                            <span title="About">{{ "info-circle" | fas }}</span>
                            <span class="title">About</span>
                        </a>

                        <ul class="pure-menu-children">
                            {{ macros::menu_link(href="/about/badges", text="Badges") }}
                            {{ macros::menu_link(href="/about/builds", text="Builds") }}
                            {{ macros::menu_link(href="/about/metadata", text="Metadata") }}
                            {{ macros::menu_link(href="/about/redirections", text="Shorthand URLs") }}
                        </ul>
                    </li>{#

                    #}<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-opt-children">
                        <a href="/releases" class="pure-menu-link">
                            <span title="Releases">{{ "leaf" | fas }}</span>
                            <span class="title">Releases</span>
                        </a>

                        <ul class="pure-menu-children">
                            {{ macros::menu_link(href="/releases/stars", text="Releases by Stars") }}
                            {{ macros::menu_link(href="/releases/recent-failures", text="Recent Build Failures") }}
                            {{ macros::menu_link(href="/releases/failures", text="Build Failures by Stars") }}
                            {{ macros::menu_link(href="/releases/activity", text="Release Activity") }}
                            {{ macros::menu_link(href="/releases/queue", text="Build Queue") }}
                        </ul>
                    </li>{#

                    The Rust dropdown menu
                    #}<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-opt">
                        <a href="https://www.rust-lang.org/" target="_blank" class="pure-menu-link">
                            Rust
                        </a>

                        <ul class="pure-menu-children">
                            {{ macros::menu_link(
                                href="https://doc.rust-lang.org/book/",
                                text="The Book",
                                target="_blank"
                            ) }}

                            {{ macros::menu_link(
                                href="https://doc.rust-lang.org/std/",
                                text="Standard Library API Reference",
                                target="_blank"
                            ) }}

                            {{ macros::menu_link(
                                href="https://doc.rust-lang.org/rust-by-example/",
                                text="Rust by Example",
                                target="_blank"
                            ) }}

                            {{ macros::menu_link(
                                href="https://rust-lang-nursery.github.io/rust-cookbook/",
                                text="Rust Cookbook",
                                target="_blank",
                                extra_classes="menu-item-divided"
                            ) }}

                            {{ macros::menu_link(
                                href="https://crates.io",
                                text="Crates.io",
                                target="_blank"
                            ) }}

                            {{ macros::menu_link(
                                href="http://doc.crates.io/guide.html",
                                text="The Cargo Guide",
                                target="_blank"
                            ) }}
                        </ul>
                    </li>
                </ul>

