{% extends "about-base.html" -%}

{%- block title -%} Metadata {%- endblock title -%}

{%- block body -%}
	<h1>Metadata for custom builds</h1>

	<div class="about-page">
	<div class="container pure-u-5-6 about">
	<p>
		You can customize docs.rs builds by defining <code>[package.metadata.docs.rs]</code>
		table in your crates' <code>Cargo.toml</code>.
	</p>

	<p>The available configuration flags you can customize are:</p>

	{% filter highlight(lang="toml") %}
		{%- include "core/Cargo.toml.example" -%}
	{% endfilter %}
	</div>
	</div>
{%- endblock body %}
