{% extends "about-base.html" -%}

{%- block title -%} Metadata {%- endblock title -%}

{%- block body -%}
	<h1>Metadata for custom builds</h1>

  <div>
		<div class="container pure-u-5-6 about">
		<p>
			You can customize docs.rs builds by defining <code>[package.metadata.docs.rs]</code>
			table in your crates' <code>Cargo.toml</code>.
		</p>

		<p>The available configuration flags you can customize are:</p>

		<pre><code>{%- include "core/Cargo.toml.example" -%}</code></pre>
		</div>
	</div>
{%- endblock body %}

{% block css -%}
    {{ macros::highlight_css() }}
{%- endblock css %}

{% block javascript -%}
    {{ macros::highlight_js(languages=["ini"]) }}
{%- endblock javascript %}
