/.docker.env
/.env.*
/.envrc
/.rustwide
/.rustwide-docker
/Justfile
/LICENSE
/README.md
/clippy.toml
/docker-compose.yml
/dockerfiles/
/docs/
/ignored
/justfiles/
/mcps
/target/
/triagebot.toml
archive_cache
.git
