# environment overrides for the app instances running inside docker compose
DOCSRS_LOG=docs_rs=debug,rustwide=info
DOCSRS_INCLUDE_DEFAULT_TARGETS=false
DOCSRS_DOCKER_IMAGE=ghcr.io/rust-lang/crates-build-env/linux-micro
# To build with a PR that hasn't landed in a rust dist toolchain yet,
# you can set this to the git sha of a try build:
# https://forge.rust-lang.org/infra/docs/rustc-ci.html#try-builds
DOCSRS_TOOLCHAIN=nightly

# for the registry watcher, automatically queued reqbuidls.
DOCSRS_MAX_QUEUED_REBUILDS: 10

