[package]
name = "docs-rs"
version = "0.6.0"
authors = ["Onur Aslan <onuraslan@gmail.com>", "The Rust Project Developers"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/rust-lang/docs.rs"
build = "build.rs"
edition = "2024"

[workspace]
resolver = "2" 
members = [
    "crates/lib/*",
]
exclude = [
    "ignored",
    "tests",
    ".workspace",
    ".rustwide-docker",
]

[workspace.dependencies]
anyhow = { version = "1.0.42", features = ["backtrace"]}
askama = "0.14.0"
async-stream = "0.3.5"
axum-extra = { version = "0.12.0", features = ["typed-header", "routing", "middleware"] }
bincode = "~2" # bincode is unmaintained, and 3.0 is just a breaking notification
chrono = { version = "0.4.11", default-features = false, features = ["clock", "serde"] }
derive_more = { version = "2.0.0", features = ["display", "deref", "from", "into", "from_str"] }
futures-util = "0.3.5"
http = "1.0.0"
itertools = { version = "0.14.0" }
mime = "0.3.16"
mockito = "1.0.2"
opentelemetry = "0.31.0"
opentelemetry-otlp = { version = "0.31.0", features = ["grpc-tonic",  "metrics"] }
opentelemetry-resource-detectors = "0.10.0"
opentelemetry_sdk = { version = "0.31.0", features = ["rt-tokio"] }
rand = "0.9"
regex = "1"
reqwest = { version = "0.12", features = ["json", "gzip"] }
sentry = { version = "0.46.0", features = ["panic", "tracing", "tower-http", "anyhow", "backtrace"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.8", features = [ "runtime-tokio", "postgres", "sqlite", "chrono" ] }
strum = { version = "0.27.0", features = ["derive"] }
tempfile = "3.1.0"
test-case = "3.0.0"
thiserror = "2.0.3"
tokio = { version = "1.0", features = ["rt-multi-thread", "signal", "macros", "process", "sync"] }
tracing = "0.1.37"
url = { version = "2.1.1", features = ["serde"] }
walkdir = "2"

[dependencies]
docs_rs_cargo_metadata = { path = "crates/lib/docs_rs_cargo_metadata" }
docs_rs_database = { path = "crates/lib/docs_rs_database" }
docs_rs_env_vars = { path = "crates/lib/docs_rs_env_vars" }
docs_rs_fastly = { path = "crates/lib/docs_rs_fastly" }
docs_rs_headers = { path = "crates/lib/docs_rs_headers" }
docs_rs_logging = { path = "crates/lib/docs_rs_logging" }
docs_rs_mimes = { path = "crates/lib/docs_rs_mimes" }
docs_rs_opentelemetry = { path = "crates/lib/docs_rs_opentelemetry" }
docs_rs_registry_api = { path = "crates/lib/docs_rs_registry_api" }
docs_rs_repository_stats = { path = "crates/lib/docs_rs_repository_stats" }
docs_rs_storage = { path = "crates/lib/docs_rs_storage" }
docs_rs_types = { path = "crates/lib/docs_rs_types" }
docs_rs_uri = { path = "crates/lib/docs_rs_uri" }
docs_rs_utils = { path = "crates/lib/docs_rs_utils" }
sentry = { workspace = true }
log = "0.4"
tracing = { workspace = true }
tracing-log = "0.2.0"
regex = { workspace = true }
clap = { version = "4.0.22", features = [ "derive" ] }
crates-index = { version = "3.0.0", default-features = false, features = ["git", "git-https", "git-performance", "parallel"] }
rayon = "1.6.1"
num_cpus = "1.15.0"
crates-index-diff = { version = "28.0.0", features = [ "max-performance" ]}
reqwest = { workspace = true }
slug = "0.1.1"
sqlx = { workspace = true }
url = { workspace = true }
docsrs-metadata = { path = "crates/lib/metadata" }
anyhow = { workspace = true }
thiserror = { workspace = true }
comrak = { version = "0.49.0", default-features = false }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "html", "dump-load", "regex-onig"] }
toml = "0.9.2"
opentelemetry = { workspace = true }
opentelemetry_sdk = { workspace = true }
rustwide = { version = "0.21.0", features = ["unstable-toolchain-ci", "unstable"] }
hostname = "0.4.0"
base64 = "0.22"
strum = { workspace = true }
lol_html = "2.0.0"
font-awesome-as-a-crate = { path = "crates/lib/font-awesome-as-a-crate" }
getrandom = "0.3.1"
itertools = { workspace = true }
derive_more = { workspace = true }
sysinfo = { version = "0.37.2", default-features = false, features = ["system"] }
derive_builder = "0.20.2"

# Async
tokio = { workspace = true }
tokio-util = { version = "0.7.15", default-features = false, features = ["io"] }
tracing-futures= { version = "0.2.5", features = ["std-future", "futures-03"] }
futures-util = { workspace = true }
async-stream = { workspace = true }
http = { workspace = true }

# Data serialization and deserialization
serde = { workspace = true }
serde_json = { workspace = true }
bincode = { workspace = true }

# axum dependencies
axum = { version = "0.8.1", features = ["macros"] }
axum-extra = { workspace = true }
tower = "0.5.1"
tower-http = { version = "0.6.0", features = ["fs", "trace", "timeout", "catch-panic"] }
mime = { workspace = true }

tempfile = { workspace = true }
fn-error-context = "0.2.0"

# Templating
askama = { workspace = true }
walkdir = { workspace = true }
phf = "0.13.1"

# Date and Time utilities
chrono = { workspace = true }

# Transitive dependencies we don't use directly but need to have specific versions of
constant_time_eq = "0.4.2"

[dev-dependencies]
docs_rs_cargo_metadata = { path = "crates/lib/docs_rs_cargo_metadata", features = ["testing"] }
docs_rs_database = { path = "crates/lib/docs_rs_database", features = ["testing"] }
docs_rs_fastly = { path = "crates/lib/docs_rs_fastly", features = ["testing"] }
docs_rs_headers = { path = "crates/lib/docs_rs_headers", features = ["testing"] }
docs_rs_opentelemetry = { path = "crates/lib/docs_rs_opentelemetry", features = ["testing"] }
docs_rs_storage = { path = "crates/lib/docs_rs_storage", features = ["testing"] }
docs_rs_types = { path = "crates/lib/docs_rs_types", features = ["testing"] }
kuchikiki = "0.8"
http-body-util = "0.1.0"
rand = { workspace = true }
mockito = { workspace = true }
test-case = { workspace = true }
tower = { version = "0.5.1", features = ["util"] }
opentelemetry_sdk = { version = "0.31.0", features = ["rt-tokio", "testing"] }
indoc = "2.0.0"
pretty_assertions = "1.4.0"

[build-dependencies]
time = "0.3"
md5 = "0.8.0"
phf_codegen = "0.13"
walkdir = "2"
anyhow = { version = "1.0.42", features = ["backtrace"] }
grass = { version = "0.13.1", default-features = false }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "dump-create", "yaml-load", "regex-onig"] }

[package.metadata.cargo-machete]
ignored = ["phf"]

[[bin]]
name = "cratesfyi"
test = false
doc = false
