[package]
name = "docs-rs"
version = "0.6.0"
authors = ["Onur Aslan <onuraslan@gmail.com>", "The Rust Project Developers"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/rust-lang/docs.rs"
edition = "2024"

[workspace]
resolver = "2" 
members = [
    "crates/bin/*",
    "crates/lib/*",
]
exclude = [
    "ignored",
    "tests",
    ".workspace",
    ".rustwide-docker",
]

[workspace.dependencies]
anyhow = { version = "1.0.42", features = ["backtrace"]}
askama = "0.15.1"
async-stream = "0.3.5"
axum-extra = { version = "0.12.0", features = ["typed-header", "routing", "middleware"] }
base64 = "0.22"
bon = { version = "3.8.1", features = ["experimental-overwritable"] }
chrono = { version = "0.4.11", default-features = false, features = ["clock", "serde"] }
clap = { version = "4.0.22", features = [ "derive" ] }
derive_more = { version = "2.0.0", features = ["display", "deref", "from", "into", "from_str"] }
futures-util = "0.3.5"
http = "1.0.0"
itertools = "0.14.0" 
mime = "0.3.16"
mockito = "1.0.2"
opentelemetry = "0.31.0"
opentelemetry-otlp = { version = "0.31.0", features = ["grpc-tonic",  "metrics"] }
opentelemetry-resource-detectors = "0.10.0"
opentelemetry_sdk = { version = "0.31.0", features = ["rt-tokio"] }
postcard = { version = "1.1.3", default-features = false, features = ["use-std"] }
pretty_assertions = "1.4.0"
rand = "0.9"
rayon = "1.6.1"
regex = "1"
reqwest = { version = "0.13", features = ["json", "gzip"] }
sentry = { version = "0.46.0", features = ["panic", "tracing", "tower-http", "anyhow", "backtrace"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = "3.4.0"
slug = "0.1.1"
sqlx = { version = "0.8", features = [ "runtime-tokio", "postgres", "sqlite", "chrono" ] }
strum = { version = "0.27.0", features = ["derive"] }
tempfile = "3.1.0"
test-case = "3.0.0"
thiserror = "2.0.3"
tokio = { version = "1.0", features = ["rt-multi-thread", "signal", "macros", "process", "sync"] }
toml = "0.9.2"
tracing = "0.1.37"
url = { version = "2.1.1", features = ["serde"] }
walkdir = "2"

[dependencies]
docs_rs_build_limits = { path = "crates/lib/docs_rs_build_limits" }
docs_rs_build_queue = { path = "crates/lib/docs_rs_build_queue" }
docs_rs_builder = { path = "crates/bin/docs_rs_builder" }
docs_rs_context = { path = "crates/lib/docs_rs_context" }
docs_rs_database = { path = "crates/lib/docs_rs_database" }
docs_rs_fastly = { path = "crates/lib/docs_rs_fastly" }
docs_rs_logging = { path = "crates/lib/docs_rs_logging" }
docs_rs_opentelemetry = { path = "crates/lib/docs_rs_opentelemetry" }
docs_rs_registry_api = { path = "crates/lib/docs_rs_registry_api" }
docs_rs_repository_stats = { path = "crates/lib/docs_rs_repository_stats" }
docs_rs_storage = { path = "crates/lib/docs_rs_storage" }
docs_rs_types = { path = "crates/lib/docs_rs_types" }
docs_rs_utils = { path = "crates/lib/docs_rs_utils" }
docs_rs_watcher = { path = "crates/bin/docs_rs_watcher" }
docs_rs_web = { path = "crates/bin/docs_rs_web" }

anyhow = { workspace = true }
tracing = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
tokio = { workspace = true }
derive_builder = "0.20.2"
futures-util = { workspace = true }
sqlx = { workspace = true }

[dev-dependencies]
docs_rs_build_queue = { path = "crates/lib/docs_rs_build_queue", features = ["testing"] }
docs_rs_builder = { path = "crates/bin/docs_rs_builder", features = ["testing"] }
docs_rs_cargo_metadata = { path = "crates/lib/docs_rs_cargo_metadata", features = ["testing"] }
docs_rs_database = { path = "crates/lib/docs_rs_database", features = ["testing"] }
docs_rs_fastly = { path = "crates/lib/docs_rs_fastly", features = ["testing"] }
docs_rs_headers = { path = "crates/lib/docs_rs_headers", features = ["testing"] }
docs_rs_opentelemetry = { path = "crates/lib/docs_rs_opentelemetry", features = ["testing"] }
docs_rs_storage = { path = "crates/lib/docs_rs_storage", features = ["testing"] }
docs_rs_types = { path = "crates/lib/docs_rs_types", features = ["testing"] }

rand = { workspace = true }
tower = { version = "0.5.1", features = ["util"] }
opentelemetry_sdk = { version = "0.31.0", features = ["rt-tokio", "testing"] }

[[bin]]
name = "cratesfyi"
test = false
doc = false
