[package]
name = "docs-rs"
version = "0.6.0"
authors = ["Onur Aslan <onuraslan@gmail.com>", "The Rust Project Developers"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/rust-lang/docs.rs"
build = "build.rs"
edition = "2021"

[workspace]
exclude = [
    "ignored",
    ".workspace",
    ".rustwide-docker",
]

[features]
consistency_check = ["crates-index", "itertools"]

[dependencies]
sentry = "0.30.0"
sentry-panic = "0.30.0"
sentry-tracing = "0.30.0"
sentry-tower = { version = "0.30.0", features = ["http"] }
sentry-anyhow = { version = "0.30.0", features = ["backtrace"] }
log = "0.4"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", default-features = false, features = ["ansi", "fmt", "env-filter"] }
tracing-log = "0.1.3"
regex = "1"
clap = { version = "4.0.22", features = [ "derive" ] }
crates-index = { version = "0.18.5", optional = true }
rayon = "1.6.1"
num_cpus = "1.15.0"
crates-index-diff = { version = "16.0.1", features = [ "max-performance" ]}
reqwest = { version = "0.11", features = ["blocking", "json"] } # TODO: Remove blocking when async is ready
semver = { version = "1.0.4", features = ["serde"] }
slug = "0.1.1"
r2d2 = "0.8"
r2d2_postgres = "0.18"
r2d2_sqlite = "0.21.0"
url = { version = "2.1.1", features = ["serde"] }
docsrs-metadata = { path = "crates/metadata" }
anyhow = { version = "1.0.42", features = ["backtrace"]}
backtrace = "0.3.61"
failure = "0.1.8"
thiserror = "1.0.26"
comrak = { version = "0.18.0", default-features = false }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "html", "dump-load", "regex-onig"] }
toml = "0.7.2"
schemamama = "0.3"
schemamama_postgres = "0.3"
prometheus = { version = "0.13.0", default-features = false }
rustwide = { version = "0.15.0", features = ["unstable-toolchain-ci"] }
mime_guess = "2"
zstd = "0.12.0"
hostname = "0.3.1"
path-slash = "0.2.0"
once_cell = { version = "1.4.0", features = ["parking_lot"] }
base64 = "0.21"
strum = { version = "0.24.0", features = ["derive"] }
lol_html = "0.3"
font-awesome-as-a-crate = { path = "crates/font-awesome-as-a-crate" }
dashmap = "5.1.0"
string_cache = "0.8.0"
postgres-types = { version = "0.2", features = ["derive"] }
zip = {version = "0.6.2", default-features = false, features = ["bzip2"]}
bzip2 = "0.4.4"
serde_cbor = "0.11.1"
getrandom = "0.2.1"
itertools = { version = "0.10.5", optional = true}
rusqlite = { version = "0.28.0", features = ["bundled"] }
moka = { version ="0.10.0", default-features = false, features = ["sync"]}

# Async
tokio = { version = "1.0", features = ["rt-multi-thread", "signal", "macros"] }
futures-util = "0.3.5"
aws-config = "0.55.1"
aws-sdk-s3 = "0.27.0"
aws-sdk-cloudfront = "0.27.0"
aws-smithy-types-convert = { version = "0.55.1", features = ["convert-chrono"] }
http = "0.2.6"
uuid = "1.1.2"

# Data serialization and deserialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
memmap2 = "0.5.0"

# axum dependencies
axum = { version = "0.6.1", features = ["headers"]}
axum-extra = "0.7.0"
hyper = { version = "0.14.15", default-features = false }
tower = "0.4.11"
tower-service = "0.3.2"
tower-http = { version = "0.4.0", features = ["fs", "trace", "timeout", "catch-panic"] }
mime = "0.3.16"
percent-encoding = "2.2.0"

# NOTE: if you change this, also double-check that the comment in `queue_builder::remove_tempdirs` is still accurate.
tempfile = "3.1.0"
fn-error-context = "0.2.0"

# Templating
tera = { version = "1.5.0", features = ["builtins"] }
walkdir = "2"

# Date and Time utilities
chrono = { version = "0.4.11", default-features = false, features = ["clock", "serde"] }

# Transitive dependencies we don't use directly but need to have specific versions of
thread_local = "1.1.3"
humantime = "2.1.0"

[dependencies.postgres]
version = "0.19"
features = ["with-chrono-0_4", "with-serde_json-1"]

[target.'cfg(target_os = "linux")'.dependencies]
# Process information
procfs = "0.15.1"

[dev-dependencies]
criterion = "0.4"
kuchiki = "0.8"
rand = "0.8"
mockito = "0.31.0"
test-case = "3.0.0"
aws-smithy-client = { version = "0.55.1", features = ["test-util"]}
aws-smithy-http = "0.55.1"
indoc = "2.0.0"

[build-dependencies]
time = "0.3"
gix = { version = "0.37.2", default-features = false }
string_cache_codegen = "0.5.1"
walkdir = "2"
anyhow = { version = "1.0.42", features = ["backtrace"] }
grass = { version = "0.12.3", default-features = false }
once_cell = { version = "1.4.0", features = ["parking_lot"] }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "dump-create", "yaml-load", "regex-onig"] }

[[bench]]
name = "compression"
harness = false

[[bin]]
name = "cratesfyi"
test = false
doc = false
