[package]
name = "docs-rs"
version = "0.6.0"
authors = ["Onur Aslan <onuraslan@gmail.com>", "The Rust Project Developers"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/rust-lang/docs.rs"
build = "build.rs"
edition = "2024"

[workspace]
resolver = "2" 
members = ["crates/*"]

[workspace.dependencies]
anyhow = { version = "1.0.42", features = ["backtrace"]}
bincode = "2.0.1"
chrono = { version = "0.4.11", default-features = false, features = ["clock", "serde"] }
derive_more = { version = "2.0.0", features = ["display", "deref", "from", "into", "from_str"] }
futures-util = "0.3.5"
opentelemetry = "0.31.0"
opentelemetry-otlp = { version = "0.31.0", features = ["grpc-tonic",  "metrics"] }
opentelemetry-resource-detectors = "0.10.0"
opentelemetry_sdk = { version = "0.31.0", features = ["rt-tokio"] }
semver = { version = "1.0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = "3.4.0"
itertools = { version = "0.14.0" }
sqlx = { version = "0.8", features = [ "runtime-tokio", "postgres", "sqlite", "chrono" ] }
strum = { version = "0.27.0", features = ["derive"] }
thiserror = "2.0.3"
tokio = { version = "1.0", features = ["rt-multi-thread", "signal", "macros", "process", "sync"] }
walkdir = "2"
regex = "1"
tracing = "0.1.37"
url = { version = "2.1.1", features = ["serde"] }
rayon = "1.6.1"
mime = "0.3.16"
async-stream = "0.3.5"
tempfile = "3.1.0"
http = "1.0.0"
reqwest = { version = "0.12", features = ["json", "gzip"] }
rustwide = { version = "0.20.0", features = ["unstable-toolchain-ci", "unstable"] }
sentry = { version = "0.46.0", features = ["panic", "tracing", "tower-http", "anyhow", "backtrace"] }
clap = { version = "4.0.22", features = [ "derive" ] }
askama = "0.14.0"

# dev dependencies
test-case = "3.0.0"
mockito = "1.0.2"

[dependencies]
anyhow = { workspace = true }
askama = { workspace = true }
async-stream = { workspace = true }
axum = { version = "0.8.1", features = ["macros"] }
axum-extra = { version = "0.12.0", features = ["typed-header", "routing", "middleware"] }
base64 = "0.22"
bincode = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
comrak = { version = "0.48.0", default-features = false }
constant_time_eq = "0.4.2"
derive_more = { workspace = true }
docs_rs_env_vars = { path = "crates/docs_rs_env_vars" }
docs_rs_utils = { path = "crates/docs_rs_utils" }
docs_rs_database = { path = "crates/docs_rs_database" }
docs_rs_build_queue = { path = "crates/docs_rs_build_queue" }
docs_rs_opentelemetry = { path = "crates/docs_rs_opentelemetry" }
docs_rs_cargo_metadata = { path = "crates/docs_rs_cargo_metadata" }
docs_rs_storage = { path = "crates/docs_rs_storage" }
docs_rs_headers = { path = "crates/docs_rs_headers" }
docs_rs_watcher = { path = "crates/docs_rs_watcher" }
docs_rs_logging = { path = "crates/docs_rs_logging" }
docs_rs_web_utils = { path = "crates/docs_rs_web_utils" }
docsrs-metadata = { path = "crates/metadata" }
fn-error-context = "0.2.0"
font-awesome-as-a-crate = { path = "crates/font-awesome-as-a-crate" }
futures-util = { workspace = true }
getrandom = "0.3.1"
hex = "0.4.3"
hostname = "0.4.0"
http = { workspace = true }
itertools = { workspace = true }
log = "0.4"
lol_html = "2.0.0"
mime = { workspace = true }
num_cpus = "1.15.0"
opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true }
opentelemetry-resource-detectors = { workspace = true }
opentelemetry_sdk = { workspace = true }
path-slash = "0.2.0"
phf = "0.13.1"
rayon = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
rustwide = { workspace = true }
semver = { workspace = true }
sentry = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
slug = "0.1.1"
sqlx = { workspace = true }
strum = { workspace = true }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "html", "dump-load", "regex-onig"] }
sysinfo = { version = "0.37.2", default-features = false, features = ["system"] }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { version = "0.7.15", default-features = false, features = ["io"] }
toml = "0.9.2"
tower = "0.5.1"
tower-http = { version = "0.6.0", features = ["fs", "trace", "timeout", "catch-panic"] }
tracing = { workspace = true }
tracing-log = "0.2.0"
tracing-futures= { version = "0.2.5", features = ["std-future", "futures-03"] }
url = { workspace = true }
walkdir = { workspace = true }

[dev-dependencies]
aws-smithy-runtime = {version = "1.0.1", features = ["client", "test-util"]}
aws-smithy-types = "1.0.1"
criterion = "0.8.0"
http-body-util = "0.1.0"
indoc = "2.0.0"
kuchikiki = "0.8"
mockito = { workspace = true }
opentelemetry_sdk = { version = "0.31.0", features = ["rt-tokio", "testing"] }
pretty_assertions = "1.4.0"
rand = "0.9"
test-case = { workspace = true }
tower = { version = "0.5.1", features = ["util"] }

[build-dependencies]
anyhow = { version = "1.0.42", features = ["backtrace"] }
grass = { version = "0.13.1", default-features = false }
md5 = "0.8.0"
phf_codegen = "0.13"
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "dump-create", "yaml-load", "regex-onig"] }
walkdir = "2"

[package.metadata.cargo-machete]
ignored = ["phf"]

[[bench]]
name = "compression"
harness = false

[[bin]]
name = "cratesfyi"
test = false
doc = false
