{%- extends "base.html" -%}
{%- import "releases/header.html" as release_macros -%}

{%- block title -%}Build Queue - Docs.rs{%- endblock title -%}

{%- block header -%}
    {{ release_macros::header(title="Build Queue", description=description, tab="queue") }}
{%- endblock header -%}

{%- block body -%}
    <div class="container">
        <div class="recent-releases-container">

            <div class="release">
                {% set queue_length = queue | length -%}
                {%- if queue_length == 0  -%}
                    <strong>There is nothing in the queue</strong>
                {%- else -%}
                    <strong>Queue</strong>
                {%- endif %}
            </div>

            <ol class="queue-list">
                {% for crate in queue -%}
                    <li>
                        <a href="https://crates.io/crates/{{ crate.name | urlencode }}">
                            {{ crate.name }} {{ crate.version }}
                        </a>

                        {% if crate.priority != 0 -%}
                            (priority: {{ crate.priority }})
                        {%- endif %}
                    </li>
                {%- endfor %}
            </ol>
        </div>
    </div>
{%- endblock body -%}
