{#
    Builds the header for the release dashboard
    * `title` A string
    * `description` A string
    * `tab` A string with one of the following values
        * `recent`
        * `stars`
        * `recent-failures`
        * `failures`
        * `activity`
        * `queue`
        * `author`
    * `author` A string, used for the authors page
#}
{% macro header(title, description, tab, author=false) %}
    <div class="cratesfyi-package-container">
        <div class="container">
            <h1 id="crate-title">{{ title }}</h1>
            <div class="description">{{ description | default(value="") }}</div>

            {# This does double-duty as the search, so hide all tabs when we're searching something #}
        </div>
    </div>
{% endmacro header %}
