.fa-svg {
    display: inline-block;
}

.fa-svg svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    /* pull icon about one stroke width into the descenders */
    margin-bottom: -0.1em;
}

.fa-svg.left-margin {
    margin-left: 1.25em;
}

.fa-svg-fw {
    width: 1.25em;
    text-align: center;
}

.fa-svg-spin {
    animation: 2s infinite linear fa-svg-spin;
}

@keyframes fa-svg-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
