html {
  --color-syntax-foreground: inherit;
  --color-syntax-attribute: #c82829;
  --color-syntax-background: #f5f5f5;
  --color-syntax-bool: #c82829;
  --color-syntax-comment: #8e908c;
  --color-syntax-doc-comment: #4d4d4c;
  --color-syntax-keyword1: #8959a8;
  --color-syntax-keyword2: #4271ae;
  --color-syntax-lifetime: #b76514;
  --color-syntax-macro: #3e999f;
  --color-syntax-number: #718c00;
  --color-syntax-prelude-ty: #4271ae;
  --color-syntax-prelude-val: #c82829;
  --color-syntax-question-mark: #ff9011;
  --color-syntax-self: #c82829;
  --color-syntax-string: #718c00;
}

// To add a new theme, copy the above theme into a new `html[data-docs-rs-theme="name"]`
// block below and change the colors

html[data-docs-rs-theme="dark"] {
  --color-syntax-foreground: inherit;
  --color-syntax-attribute: #ee6868;
  --color-syntax-background: #2a2a2a;
  --color-syntax-bool: #ee6868;
  --color-syntax-comment: #8d8d8b;
  --color-syntax-doc-comment: #8ca375;
  --color-syntax-keyword1: #ab8ac1;
  --color-syntax-keyword2: #769acb;
  --color-syntax-lifetime: #d97f26;
  --color-syntax-macro: #3e999f;
  --color-syntax-number: #83a300;
  --color-syntax-prelude-ty: #769acb;
  --color-syntax-prelude-val: #ee6868;
  --color-syntax-question-mark: #ff9011;
  --color-syntax-self: #ee6868;
  --color-syntax-string: #83a300;
}

html[data-docs-rs-theme="ayu"] {
  --color-syntax-foreground: #e6e1cf;
  --color-syntax-attribute: #e6e1cf;
  --color-syntax-background: #191f26;
  --color-syntax-bool: #ff7733;
  --color-syntax-comment: #788797;
  --color-syntax-doc-comment: #a1ac88;
  --color-syntax-keyword1: #ff7733;
  --color-syntax-keyword2: #ff7733;
  --color-syntax-lifetime: #ff7733;
  --color-syntax-macro: #a37acc;
  --color-syntax-number: #b8cc52;
  --color-syntax-prelude-ty: #ff7733;
  --color-syntax-prelude-val: #ff7733;
  --color-syntax-question-mark: #ff9011;
  --color-syntax-self: #36a3d9;
  --color-syntax-string: #b8cc52;
}
