// Standard white theme
body {
  --color-background-code: #f5f5f5;
  --color-background: #fff;
  --color-border-light: lighten(#ddd, 5%);
  --color-border: #ddd;
  --color-doc-link-background: #333;
  --color-doc-link-hover: #3061f3;
  --color-error-hover: darken(#d93d3d, 10%);
  --color-error: #d93d3d;
  --color-macro: #068000;
  --color-menu-border: #cdcdcd;
  --color-menu-header-background: #e0e0e0;
  --color-navbar-standard: #777;
  --color-standard: #000;
  --color-struct: #df3600;
  --color-type: #e57300;
  --color-url: #4d76ae;
  --color-warn-background: lighten(#e57300, 45%);
  --color-warn-hover: darken(#e57300, 10%);
  --color-warn: #e57300;
}
