// FIXME: Use modules
@import "vars";

// Info and warning notifications
div {
    .info {
        font-family: $font-family-sans;
        border-radius: 4px;
        background-color: $color-background-code;
        padding: 0.4em 1em;
        text-align: center;
        margin-bottom: 10px;

        a {
            color: $color-url;
            text-decoration: underline;
        }
    }

    .warning {
        @extend .info;

        background-color: lighten($color-type, 45%);
    }
}

// Disable the dropdown arrow for pure menu items
// It's a wonderful hack, but it allows us to hijack pure's dropdown menus to
// make tooltips that appear when you hover over them that don't have the little
// arrow on the link itself
.disable-menu-arrow,
.pure-menu-has-children > .disable-menu-arrow.pure-menu-link:after {
    content: "" !important;
}
