// Stores all the style constants

// Fonts
$font-family-sans: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
$font-family-mono: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;

// Colors
$color-standard: #000;           // pure black
$color-url: #4d76ae;             // blue
$color-macro: #068000;           // green
$color-struct: #df3600;          // red
$color-enum: #5e9766;            // light green
$color-type: #e57300;            // orange
$color-keyword: #8959A8;         // purple
$color-string: #718C00;          // greenish
$color-macro-in-code: #3E999F;   // blueish
$color-lifetime-incode: #B76514; // orangish
$color-comment-in-code: #8E908C; // light gray
$color-background-code: #F5F5F5; // lighter gray
$color-border: #ddd;             // gray
$color-red: #d93d3d;             // red

// Sizes
$top-navbar-height: 32px; // height of the floating top navbar

// Pure compatible media queries
// usage:
// @media #{$media-sm} { ... }
$media-sm: "screen and (min-width: 35.5em)";
$media-md: "screen and (min-width: 48em)";
$media-lg: "screen and (min-width: 64em)";
$media-xl: "screen and (min-width: 80em)";
