// Stores all the style constants

// Fonts
$font-family-sans: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Source Serif", Georgia, Times, "Times New Roman", serif;
$font-family-mono: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;

// Sizes
$top-navbar-height: 32px; // height of the floating top navbar
$search-result-right-left-padding: 1em; // Size of the right and left padding for the search results

// Pure compatible media queries
// usage:
// @media #{$media-sm} { ... }
$media-sm: "screen and (min-width: 35.5em)";
$media-md: "screen and (min-width: 48em)";
$media-lg: "screen and (min-width: 64em)";
$media-xl: "screen and (min-width: 80em)";
