// FIXME: Use modules
@import "rustdoc-common";

div.container-rustdoc {
    text-align: left;

    > .docs-rs-footer {
        bottom: -32px;
        right: -15px;
    }
}


div.container-rustdoc:not(.source) {
    > .docs-rs-footer {
        left: 185px; // This is the left sidebar
    }
}

div.rustdoc {
    #sidebar-toggle {
        top: 62px;
    }
}
