// FIXME: Use modules
@import "vars", "navbar", "themes", "fa", "footer";

// This rule is needed to be sure that the footer will always be at the bottom of the page.
#rustdoc_body_wrapper {
    min-height: calc(100vh - #{$footer-height + 2});
}

#clipboard {
    cursor: pointer;
}

// Force the navbar to be left-aligned on rustdoc pages
body.rustdoc-page > .nav-container > .container {
    margin-left: 0;
}

div.container-rustdoc {
    text-align: left;

    > .docs-rs-footer {
        width: unset;
    }
}

div.container-rustdoc {
    width: unset;
}

div.container-rustdoc:not(.source) {
    // This is when the rustdoc sidebar "disappears" (for mobile mode).
    @media (max-width: 700px) {
        > .docs-rs-footer:not(.source) {
            left: -15px;
        }
    }
}

div.container-rustdoc {
    > .docs-rs-footer {
        left: -15px;
        // This is needed because even though the sidebar only contains the header, it still takes
        // all the height, going over the footer.
        z-index: 1;
    }
}

// this is a super nasty override for help dialog in rustdocs
// see #52 for details
body.blur {
    > :not(#help) {
        filter: none;
        -webkit-filter: none;
    }

    > div.nav-container > *,
    > div.docsrs-package-container > *,
    > div.rustdoc > :not(#help) {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        opacity: 0.7;
    }
}

// rustdoc overrides
div.rustdoc {
    $padding-x: 15px;
    padding: 10px $padding-x 20px;
    position: relative;

    @media (max-width: 700px) {
        padding-top: 0;
    }

    .sidebar {
        @media (min-width: 701px) {
            margin-top: $top-navbar-height;
        }

        .block > ul > li {
            margin-right: -10px;
        }

        @media (max-width: 700px) {
            margin-left: -2 * $padding-x; // offset the additional padding added by the parent containers
            width: calc(100% + #{4 * $padding-x});

            &.mobile {
                top: $top-navbar-height;
                margin-left: 0; // since the sidebar is now fixed position, remove the padding workaround
                width: 100%;

                .sidebar-elems.show-it {
                    top: 45px + $top-navbar-height;
                }

                #sidebar-filler {
                    top: $top-navbar-height;
                }
            }
        }
    }

    .mobile-topbar,
    #source-sidebar {
        top: $top-navbar-height;
    }

    &:focus {
        outline: unset;
    }

    // Overriding some outdated rustdoc CSS rules
    #results {
        position: initial !important;
        overflow: initial !important;

        > table {
            margin-bottom: 0 !important;
        }
    }
}
