// FIXME: Use modules
@import "vars", "navbar", "themes", "fa";

// Force the navbar to be left-aligned on rustdoc pages
body.rustdoc-page > .nav-container > .container {
    margin-left: 0;
}

div.container-rustdoc {
    text-align: left;
}

// this is a super nasty override for help dialog in rustdocs
// see #52 for details
body.blur {
    > :not(#help) {
        filter: none;
        -webkit-filter: none;
    }

    > div.nav-container > *,
    > div.cratesfyi-package-container > *,
    > div.rustdoc > :not(#help) {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        opacity: 0.7;
    }
}

// rustdoc overrides
div.rustdoc {
    font-family: $font-family-serif;
    padding: 10px 15px 20px 15px;
    position: relative;

    @media (max-width: 700px) {
        padding-top: 0;
    }

    .sidebar {
        @media (min-width: 701px) {
            margin-top: $top-navbar-height;
        }

        .block > ul > li {
            margin-right: -10px;
        }

        @media (max-width: 700px) {
            &.mobile {
                top: $top-navbar-height;

                .sidebar-elems.show-it {
                    top: 45px + $top-navbar-height;
                }

                #sidebar-filler {
                    top: $top-navbar-height;
                }
            }
        }
    }

    #source-sidebar {
        top: $top-navbar-height;
    }

    #sidebar-toggle {
        top: 62px;
    }

    &:focus {
        outline: unset;
    }
}
