[package]
name = "docs_rs_web"
version = "0.1.0"
edition = "2024"
build = "build.rs"


[dependencies]
anyhow = { workspace = true }
askama = { workspace = true }
async-stream = { workspace = true }
axum = { version = "0.8.1", features = ["macros"] }
axum-extra = { version = "0.12.0", features = ["typed-header", "routing", "middleware"] }
base64 = "0.22"
bincode = { workspace = true }
chrono = { workspace = true }
comrak = { version = "0.48.0", default-features = false }
constant_time_eq = "0.4.2"
derive_more = { workspace = true }
docs_rs_build_queue = { path = "../../lib/docs_rs_build_queue" }
docs_rs_build_utils = { path = "../../lib/docs_rs_build_utils" }
docs_rs_cargo_metadata = { path = "../../lib/docs_rs_cargo_metadata" }
docs_rs_context = { path = "../../lib/docs_rs_context" }
docs_rs_database = { path = "../../lib/docs_rs_database" }
docs_rs_env_vars = { path = "../../lib/docs_rs_env_vars" }
docs_rs_headers = { path = "../../lib/docs_rs_headers" }
docs_rs_opentelemetry = { path = "../../lib/docs_rs_opentelemetry" }
docs_rs_registry_api = { path = "../../lib/docs_rs_registry_api" }
docs_rs_storage = { path = "../../lib/docs_rs_storage" }
docs_rs_utils = { path = "../../lib/docs_rs_utils" }
docs_rs_web_utils = { path = "../../lib/docs_rs_web_utils" }
font-awesome-as-a-crate = { path = "../../lib/font-awesome-as-a-crate" }
futures-util = { workspace = true }
http = { workspace = true }
itertools = { workspace = true }
lol_html = "2.0.0"
mime = { workspace = true }
num_cpus = "1.15.0"
opentelemetry = { workspace = true }
opentelemetry_sdk = { workspace = true }
phf = "0.13.1"
rayon = { workspace = true }
regex = { workspace = true }
semver = { workspace = true }
sentry = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
sqlx = { workspace = true }
strum = { workspace = true }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "html", "dump-load", "regex-onig"] }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { version = "0.7.15", default-features = false, features = ["io"] }
toml = { workspace = true }
tower = "0.5.1"
tower-http = { version = "0.6.0", features = ["fs", "trace", "timeout", "catch-panic"] }
tracing = { workspace = true }
tracing-futures= { version = "0.2.5", features = ["std-future", "futures-03"] }
url = { workspace = true }
slug = { workspace = true }
getrandom = "0.3.1"

[build-dependencies] 
anyhow = { workspace = true }
syntect = { version = "5.0.0", default-features = false, features = ["parsing", "dump-create", "yaml-load", "regex-onig"] }
walkdir = { workspace = true }
grass = { version = "0.13.1", default-features = false }
md5 = "0.8.0"
phf_codegen = "0.13"

[package.metadata.cargo-machete]
ignored = ["phf"]

