[advisories]
ignore = [
    "RUSTSEC-2023-0071", # rsa: potential key recovery through timing sidechannels

    "RUSTSEC-2024-0320", # yaml-rust is unmaintained. 
    # https://github.com/rust-lang/docs.rs/issues/2469

    "RUSTSEC-2025-0007", # `ring` is unmaintained. Not much we can do about it.
    # https://github.com/rust-lang/docs.rs/issues/2741

    "RUSTSEC-2025-0057", # fxhash - no longer maintained. Not much we can do about it.
    # https://github.com/rust-lang/docs.rs/issues/2914

    "RUSTSEC-2025-0141", # Bincode is unmaintained 
    # https://github.com/rust-lang/docs.rs/issues/3122
]
informational_warnings = ["unmaintained"] # warn for categories of informational advisories
severity_threshold = "low" # CVSS severity ("none", "low", "medium", "high", "critical")

[output]
quiet = false
deny = ["unmaintained"] # yanked is allowed for now
