{%- extends "base.html" -%}
{%- import "header/package_navigation.html" as navigation -%}

{%- block title -%}
    {{ macros::doc_title(name=metadata.name, version=metadata.version) }}
{%- endblock title -%}

{%- block body_classes -%}
    centered
{%- endblock body_classes -%}

{%- block topbar -%}
    {%- set latest_version = "" -%}
    {%- set latest_path = "" -%}
    {%- set target = "" -%}
    {%- if metadata.target_name -%}
        {%- set inner_path = metadata.target_name ~ "/index.html" -%}
    {%- else -%}
        {%- set inner_path = "" -%}
    {%- endif -%}
    {%- set is_latest_version = true -%}
    {%- set is_prerelease = false -%}
    {%- include "rustdoc/topbar.html" -%}
{%- endblock topbar -%}

{%- block header -%}
    {{ navigation::package_navigation(metadata=metadata, active_tab="builds") }}
{%- endblock header -%}

{%- block body -%}
    <div class="container">
        <div class="recent-releases-container">
            <div class="release">
                <strong>
                    Build #{{ build_details.id }} {%- if build_details.build_time -%} {{ build_details.build_time | date(format="%+") }} {%- endif -%}
                </strong>
            </div>

            <ul>
                {%- for filename in all_log_filenames -%}
                    <li>
                        <a href="/crate/{{ metadata.name }}/{{ metadata.version }}/builds/{{ build_details.id }}/{{ filename }}" class="release">
                            <div class="pure-g">
                                <div class="pure-u-1 pure-u-sm-1-24 build">{{ "file-lines" | fas }}</div>
                                <div class="pure-u-1 pure-u-sm-10-24">
                                    {% if current_filename and current_filename == filename %}
                                        <b>{{ filename }}</b>
                                    {% else %}
                                        {{ filename }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                {%- endfor -%}
            </ul>

            {%- filter dedent -%}
                <pre>

                    {%- if build_details.errors -%}
                        # pre-build errors
                        {{ build_details.errors }}
                    {%- endif -%}

                    {%- if build_details.rustc_version -%}
                        # rustc version
                        {{ build_details.rustc_version }}
                    {%- endif -%}

                    {%- if build_details.docsrs_version -%}
                        # docs.rs version
                        {{ build_details.docsrs_version }}
                    {%- endif -%}

                    {%- if build_details.output -%}
                        # build log
                        {{ build_details.output }}
                    {%- endif -%}
                </pre>
            {%- endfilter -%}
        </div>
    </div>
{%- endblock body -%}
