{%- extends "base.html" -%}
{%- import "header/package_navigation.html" as navigation -%}

{%- block title -%}
    {{- macros::doc_title(name=metadata.name, version=metadata.version) -}}
{%- endblock title -%}

{%- block body_classes -%}
centered
{%- endblock body_classes -%}

{%- block topbar -%}
  {%- set latest_version = "" -%}
  {%- set latest_path = "" -%}
  {%- set target = "" -%}
  {%- set inner_path = metadata.target_name ~ "/index.html" -%}
  {%- set is_latest_version = true -%}
  {%- set is_prerelease = false -%}
  {%- include "rustdoc/topbar.html" -%}
{%- endblock topbar -%}

{%- block header -%}
    {{- navigation::package_navigation(metadata=metadata, active_tab="builds") -}}
{%- endblock header -%}

{%- block body -%}
    <div class="container"> {#- -#}
        <div class="recent-releases-container"> {#- -#}
            <div class="release"> {#- -#}
                <strong>Build #{{ build_details.id }} {{ build_details.build_time | date(format="%+") }}</strong> {#- -#}
            </div>

            {%- filter dedent -%}
                <pre> {#- -#}
# rustc version
{{ build_details.rustc_version }}
# docs.rs version
{{ build_details.docsrs_version }}

# build log
{{ build_details.output -}}
                </pre>
            {%- endfilter -%}
        </div> {#- -#}
    </div> {#- -#}
{%- endblock body -%}
