{%- extends "base.html" -%}

{%- block title -%}
    {{ macros::doc_title(name=details.name, version=details.version) }}
{%- endblock title -%}

{%- block header -%}
    {# Set the active tab to the `crate` tab #}
    {{ navigation::package_navigation(metadata=details.metadata, active_tab="crate") }}
{%- endblock header -%}

{%- block body -%}
    <div class="container package-page-container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-7-24 pure-u-md-5-24">
                <div class="pure-menu package-menu">
                    <ul class="pure-menu-list">
                        {# List the release author's names and a link to their docs.rs profile #}
                        <li class="pure-menu-heading">Authors</li>
                        {%- for author in details.authors -%}
                            <li class="pure-menu-item">
                                <a href="/releases/{{ author[1] }}" class="pure-menu-link">
                                    {{ author[0] }}
                                </a>
                            </li>
                        {%- endfor -%}

                        <li class="pure-menu-heading">Links</li>

                        {# If the crate has a homepage, show it #}
                        {%- if details.homepage_url -%}
                            <li class="pure-menu-item">
                                <a href="{{ details.homepage_url }}" class="pure-menu-link">
                                    <i class="fa fa-home fa-fw"></i> Homepage
                                </a>
                            </li>
                        {%- endif -%}

                        {# If the crate has a custom doc url, show it #}
                        {%- if details.documentation_url -%}
                            <li class="pure-menu-item">
                                <a href="{{ details.documentation_url }}" title="Canonical documentation" class="pure-menu-link">
                                    <i class="fa fa-fw fa-file-text"></i> Documentation
                                </a>
                            </li>
                        {%- endif -%}

                        {# If the release has a repository, show it #}
                        {%- if details.repository_url -%}
                            <li class="pure-menu-item">
                                <a href="{{ details.repository_url }}" class="pure-menu-link">
                                    {# If the repo link is for github, show some github stats #}
                                    {%- if details.github -%}
                                        <i class="fa fa-github fa-fw"></i>
                                        <i class="fa fa-star-o fa-fw"></i> {{ details.github_stars }}
                                        <i class="fa fa-code-fork fa-fw"></i> {{ details.github_forks }}
                                        <i class="fa fa-exclamation-circle fa-fw"></i> {{ details.github_issues }}

                                    {# If the repo link is unknown, just show a normal link #}
                                    {%- else -%}
                                        <i class="fa fa-code-fork fa-fw"></i> Repository
                                    {%- endif -%}
                                </a>
                            </li>
                        {%- endif -%}

                        {# Show a link to the crate's Crates.io page #}
                        <li class="pure-menu-item">
                            <a href="https://crates.io/crates/{{ details.name }}" class="pure-menu-link"
                                title="See {{ details.name }} in crates.io">
                                <i class="fa fa-cube fa-fw"></i> Crates.io
                            </a>
                        </li>

                        <li class="pure-menu-heading">Dependencies</li>
                        <li class="pure-menu-item">
                            <div class="pure-menu pure-menu-scrollable sub-menu">
                                <ul class="pure-menu-list">
                                    {# List all dependencies that the current release has #}
                                    {%- for dep in details.dependencies -%}
                                        <li class="pure-menu-item">
                                            <a href="/crate/{{ dep[0] }}/{{ dep[1] }}" class="pure-menu-link">
                                                {{ dep[0] }} {{ dep[1] }}
                                                <i class="dependencies {{ dep[2] }}">{{ dep[2] }}</i>
                                            </a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </li>

                        <li class="pure-menu-heading">Versions</li>
                        <li class="pure-menu-item">
                            <div class="pure-menu pure-menu-scrollable sub-menu">
                                <ul class="pure-menu-list">
                                    {# Display all releases of this crate #}
                                    {%- for release in details.releases -%}
                                        <li class="pure-menu-item">
                                            {# If the release was yanked but built, show a warning #}
                                            {%- if release.yanked and release.build_status -%}
                                                <a href="/crate/{{ details.name }}/{{ release.version }}" class="pure-menu-link warn"
                                                    title="{{ details.name }}-{{ release.version }} is yanked">
                                                    <i class="fa fa-fw fa-warning"></i> {{ release.version }}
                                                </a>

                                            {# If the release was yanked and failed to build, show a warning #}
                                            {%- elif release.yanked -%}
                                                <a href="/crate/{{ details.name }}/{{ release.version }}" class="pure-menu-link warn"
                                                    title="{{ details.name }}-{{ release.version }} is yanked and docs.rs failed to build it">
                                                    <i class="fa fa-fw fa-warning"></i> {{ release.version }}
                                                </a>

                                            {# If the release wasn't yanked and built correctly, display it normally #}
                                            {%- elif release.build_status -%}
                                                <a href="/crate/{{ details.name }}/{{ release.version }}" class="pure-menu-link">
                                                    {{ release.version }}
                                                </a>

                                            {# If the release wasn't yanked but failed to build, show a warning #}
                                            {%- else -%}
                                                <a href="/crate/{{ details.name }}/{{ release.version }}" class="pure-menu-link warn"
                                                    title="docs.rs failed to build {{ details.name }}-{{ release.version }}">
                                                    <i class="fa fa-fw fa-warning"></i> {{ release.version }}
                                                </a>
                                            {%- endif -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </li>

                        {# Display the crate owner's profile picture and a link to their docs.rs profile #}
                        <li class="pure-menu-heading">Owners</li>
                        <li class="pure-menu-item">
                            {%- for owner in details.owners -%}
                                <a href="/releases/@{{ owner[0] }}">
                                    <img src="{{ owner[1] }}" alt="{{ owner[0] }}" class="owner">
                                </a>
                            {%- endfor -%}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24 package-details" id="main">
                {# If the release is not a library #}
                {%- if not details.is_library -%}
                    <div class="warning">
                        {{ details.name }}-{{ details.version }} is not a library.
                    </div>

                {# If the release has been yanked and is a library #}
                {%- elif details.yanked -%}
                    <div class="warning">
                        {{ details.name }}-{{ details.version }} has been yanked.
                    </div>

                {# If the build succeeded, isn't yanked and is a library #}
                {%- elif details.build_status -%}
                    {# If there are no docs display a warning #}
                    {%- if not details.rustdoc_status -%}
                        <div class="warning">{{ details.name }}-{{ details.version }} doesn't have any documentation.</div>
                    {%- endif -%}

                    {# If there's a readme, display it #}
                    {%- if details.readme -%}
                        {{ details.readme | safe }}

                    {# If there's not a readme then attempt to display docs #}
                    {%- elif details.rustdoc -%}
                        {{ details.rustdoc | safe }}
                    {%- endif -%}

                {# If the build failed, the release isn't yanked and the release is a library #}
                {%- else -%}
                    {# Display a warning telling the user we failed to build the docs #}
                    <div class="warning">
                        docs.rs failed to build {{ details.name }}-{{ details.version }}<br>Please check the
                            <a href="/crate/{{ details.name }}/{{ details.version }}/builds">build logs</a> and, if you believe this is
                        docs.rs' fault, <a href="https://github.com/rust-lang/docs.rs/issues/new/choose">open an issue</a>.
                    </div>

                    {# If there is one, display the most next most recent successful build #}
                    {%- if details.last_successful_build -%}
                        <div class="info">
                            Visit the last successful build:
                            <a href="/crate/{{ details.name }}/{{ details.last_successful_build }}">
                                    {{ details.name }}-{{ details.last_successful_build }}
                            </a>
                        </div>
                    {%- endif -%}
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endblock body -%}

{%- block css -%}
    {{ macros::highlight_css() }}
{%- endblock css -%}

{%- block javascript -%}
    {# Enable and load Rust and TOML syntax highlighting #}
    {{ macros::highlight_js(languages=["rust", "ini"]) }}

    <script type="text/javascript" charset="utf-8">
        function getKey(ev) {
            if ("key" in ev && typeof ev.key != "undefined") {
                return ev.key;
            }

            return String.fromCharCode(ev.charCode || ev.keyCode);
        }

        document.getElementById("i-am-feeling-lucky-button").onclick = function () {
            var form = document.getElementsByClassName("landing-search-form");
            var input = document.createElement('input');

            input.type = 'hidden';
            input.name = 'i-am-feeling-lucky';
            input.value = 1;
            document.getElementsByClassName("landing-search-form")[0].appendChild(input);

            return true;
        };

        function handleShortcut(ev) {
            if (ev.ctrlKey || ev.altKey || ev.metaKey || document.activeElement.tagName === "INPUT") {
                return;
            }

            switch (getKey(ev)) {
                case "s":
                case "S":
                    ev.preventDefault();
                    document.getElementById("search").focus();
                    break;
            }
        }

        document.onkeypress = handleShortcut;
        document.onkeydown = handleShortcut;

        var active = null;

        function handleKey(ev) {
            if (ev.ctrlKey || ev.altKey || ev.metaKey || document.activeElement.tagName === "INPUT") {
                return;
            }

            if (ev.which === 40) { // Down arrow
                ev.preventDefault();
                if (active === null) {
                    active = document.getElementsByClassName("recent-releases-container")[0].getElementsByTagName("li")[0];
                } else if (active.nextElementSibling) {
                    active.classList.remove("selected");
                    active = active.nextElementSibling;
                }

                active.classList.add("selected");
            } else if (ev.which === 38) { // Up arrow
                ev.preventDefault();

                if (active === null) {
                    active = document.getElementsByClassName("recent-releases-container")[0].getElementsByTagName("li")[0];
                } else if (active.previousElementSibling) {
                    active.classList.remove("selected");
                    active = active.previousElementSibling;
                }

                active.classList.add("selected");
                active.focus();
            } else if (ev.which === 13) { // Return
                if (active !== null) {
                    document.location.href = active.getElementsByTagName("a")[0].href;
                }
            } else {
                switch (getKey(ev)) {
                    case "s":
                    case "S":
                        ev.preventDefault();
                        document.getElementsByClassName("search-input-nav")[0].focus();
                        break;
                }
            }
        }

        document.onkeypress = handleKey;
        document.onkeydown = handleKey;

        var crates =
            Array.prototype.slice.call(document.getElementsByClassName("recent-releases-container")[0].getElementsByTagName("li"));

        for (var i = 0; i < crates.length; ++i) {
            crates[i].addEventListener("mouseover", function (event) {
                this.classList.remove("selected"); active = null;
            }); crates[i].addEventListener("mouseout", function (event) {
                this.classList.remove("selected"); active = null;
            });
        }
    </script>
{% endblock javascript -%}
