{%- extends "base.html" -%}
{%- import "header/package_navigation.html" as navigation -%}

{%- block title -%}
    {{ macros::doc_title(name=details.name, version=details.version) }}
{%- endblock title -%}

{%- block meta -%}
    <link rel="canonical" href="https://docs.rs/crate/{{ details.name }}/latest" />
{%- endblock meta -%}

{%- block topbar -%}
  {%- set metadata = details.metadata -%}
  {%- set latest_version = "" -%}
  {%- set latest_path = "" -%}
  {%- set target = "" -%}
  {%- set inner_path = details.metadata.target_name ~ "/index.html" -%}
  {%- set is_latest_version = true -%}
  {%- set is_prerelease = false -%}
  {%- set use_direct_platform_links = true -%}
  {%- include "rustdoc/topbar.html" -%}
{%- endblock topbar -%}

{%- block header -%}
    {#- Set the active tab to the `crate` tab -#}
    {{- navigation::package_navigation(metadata=details.metadata, active_tab="crate") -}}
{%- endblock header -%}

{%- block body -%}
    <div class="container package-page-container"> {#- -#}
        <div class="pure-g"> {#- -#}
            <div class="pure-u-1 pure-u-sm-7-24 pure-u-md-5-24"> {#- -#}
                <div class="pure-menu package-menu"> {#- -#}
                    <ul class="pure-menu-list">
                        {%- if details.documented_items and details.total_items -%}
                            {%- set percent = details.documented_items * 100 / details.total_items -%}
                            <li class="pure-menu-heading">Coverage</li> {#- -#}
                            <li class="pure-menu-item text-center"><b>{{ percent | round(precision=2) }}%</b><br> {#- -#}
                                <span class="documented-info"><b>{{ details.documented_items }}</b> out of <b>{{ details.total_items }}</b> items documented</span>
                                {%- if details.total_items_needing_examples and details.items_with_examples -%}
                                    <span class="documented-info"><b>{{ details.items_with_examples }}</b> out of <b>{{ details.total_items_needing_examples }}</b> items with examples</span>
                                {%- endif -%}
                            </li>
                        {%- endif -%}
                        <li class="pure-menu-heading">Links</li>

                        {#- If the crate has a homepage, show it -#}
                        {%- if details.homepage_url -%}
                            <li class="pure-menu-item"> {#- -#}
                                <a href="{{ details.homepage_url }}" class="pure-menu-link">
                                    {{- "house" | fas(fw=true) }} Homepage {#- -#}
                                </a> {#- -#}
                            </li>
                        {%- endif -%}

                        {#- If the crate has a custom doc url, show it -#}
                        {%- if details.documentation_url -%}
                            <li class="pure-menu-item"> {#- -#}
                                <a href="{{ details.documentation_url }}" title="Canonical documentation" class="pure-menu-link">
                                    {{- "file-lines" | far(fw=true) }} Documentation {#- -#}
                                </a> {#- -#}
                            </li>
                        {%- endif -%}

                        {#- If the release has a repository, show it -#}
                        {%- if details.repository_url -%}
                            <li class="pure-menu-item"> {#- -#}
                                <a href="{{ details.repository_url }}" class="pure-menu-link">
                                    {#- If the repo link is for github or gitlab, show some stats -#}
                                    {#- TODO: add support for hosts besides github and gitlab (#35) -#}
                                    {%- if details.repository_metadata -%}
                                        {{- details.repository_metadata.icon | fab(fw=true) }} {#- +#}
                                        {%- if details.repository_metadata.name -%}
                                            {{details.repository_metadata.name}}
                                        {%- else -%}
                                            Repository
                                        {%- endif -%}
                                        <br>
                                        {{- "star" | fas(fw=true, extra="left-margin") }} {{ details.repository_metadata.stars }} {#- +#}
                                        {{ "code-branch" | fas(fw=true) }} {{ details.repository_metadata.forks }} {#- +#}
                                        {{ "circle-exclamation" | fas(fw=true) }} {{ details.repository_metadata.issues }}

                                    {#- If the repo link is unknown, just show a normal link -#}
                                    {%- else -%}
                                        {{- "code-branch" | fas(fw=true) }} Repository
                                    {%- endif -%}
                                </a> {#- -#}
                            </li>
                        {%- endif -%}

                        {#- Show a link to the crate's Crates.io page -#}
                        <li class="pure-menu-item"> {#- -#}
                            <a href="https://crates.io/crates/{{ details.name }}" class="pure-menu-link"
                                title="See {{ details.name }} on crates.io">
                                {{- "cube" | fas(fw=true) }} Crates.io {#+ -#}
                            </a> {#- -#}
                        </li> {#- -#}

                        <li class="pure-menu-heading">Dependencies</li> {#- -#}
                        <li class="pure-menu-item"> {#- -#}
                            <div class="pure-menu pure-menu-scrollable sub-menu"> {#- -#}
                                <ul class="pure-menu-list">
                                    {#- List all dependencies that the current release has -#}
                                    {%- for dep in details.dependencies -%}
                                        <li class="pure-menu-item"> {#- -#}
                                            <a href="/crate/{{ dep[0] }}/{{ dep[1] }}" class="pure-menu-link">
                                                {{- dep[0] }} {{ dep[1] }} {#+ -#}
                                                <i class="dependencies {{ dep[2] | default(value='') }}">{{ dep[2] | default(value="") }}</i> {#- -#}
                                            </a> {#- -#}
                                        </li>
                                    {%- endfor -%}
                                </ul> {#- -#}
                            </div> {#- -#}
                        </li> {#- -#}

                        <li class="pure-menu-heading">Versions</li> {#- -#}
                        <li class="pure-menu-item"> {#- -#}
                            <div class="pure-menu pure-menu-scrollable sub-menu"> {#- -#}
                                <ul class="pure-menu-list">
                                    {#- Display all releases of this crate -#}
                                    {{- macros::releases_list(name=details.name, releases=details.releases, target="", inner_path="") -}}
                                </ul> {#- -#}
                            </div> {#- -#}
                        </li>

                        {#- Display the crate owner's profile picture and a link to their docs.rs profile -#}
                        <li class="pure-menu-heading">Owners</li> {#- -#}
                        <li class="pure-menu-item">
                            {%- for owner in details.owners -%}
                                <a href="https://crates.io/users/{{ owner[0] }}"> {#- -#}
                                    <img src="{{ owner[1] }}" alt="{{ owner[0] }}" class="owner"> {#- -#}
                                </a>
                            {%- endfor -%}
                        </li> {#- -#}
                    </ul> {#- -#}
                </div> {#- -#}
            </div> {#- -#}

            <div class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24 package-details" id="main">
                {#- If the release is not a library -#}
                {%- if not details.is_library -%}
                    <div class="warning">
                        {{- details.name }}-{{ details.version }} is not a library. {#- -#}
                    </div>

                {#- If the release has been yanked and is a library -#}
                {%- elif details.yanked -%}
                    <div class="warning">
                        {{- details.name }}-{{ details.version }} has been yanked. {#- -#}
                    </div>

                {#- If the build succeeded, isn't yanked and is a library -#}
                {%- elif details.build_status -%}
                    {#- If there are no docs display a warning -#}
                    {%- if not details.rustdoc_status -%}
                        <div class="warning">{{ details.name }}-{{ details.version }} doesn't have any documentation.</div>
                    {%- endif -%}

                {#- If the build failed, the release isn't yanked and the release is a library -#}
                {%- else -%}
                    {#- Display a warning telling the user we failed to build the docs -#}
                    <div class="warning"> {#- -#}
                        docs.rs failed to build {{ details.name }}-{{ details.version }} {#- -#}
                        <br> {#- -#}
                        Please check the {#+ -#}
                        <a href="/crate/{{ details.name }}/{{ details.version }}/builds">build logs</a> for more information. {#- -#}
                        <br> {#- -#}
                        See <a href="/about/builds">Builds</a> for ideas on how to fix a failed build, {#+ -#}
                        or <a href="/about/metadata">Metadata</a> for how to configure docs.rs builds. {#- -#}
                        <br> {#- -#}
                        If you believe this is docs.rs' fault, <a href="https://github.com/rust-lang/docs.rs/issues/new/choose">open an issue</a>. {#- -#}
                    </div>

                    {#- If there is one, display the most next most recent successful build -#}
                    {%- if details.last_successful_build -%}
                        <div class="info"> {#- -#}
                            Visit the last successful build: {#+ -#}
                            <a href="/crate/{{ details.name }}/{{ details.last_successful_build }}">
                                {{- details.name }}-{{ details.last_successful_build -}}
                            </a> {#- -#}
                        </div>
                    {%- endif -%}
                {%- endif -%}

                {#- If there's a readme, display it -#}
                {%- if details.readme -%}
                    {{- details.readme | safe -}}

                {# If there's not a readme then attempt to display the long description #}
                {%- elif details.rustdoc -%}
                    {{- details.rustdoc | safe -}}
                {%- endif -%}
            </div> {#- -#}
        </div> {#- -#}
    </div> {#- -#}
{%- endblock body -%}
