{% extends "base.html" %}
{%- import "header/package_navigation.html" as navigation -%}

{%- block title -%}
    {% call macros::doc_title(name=details.name, version=details.version) %}
{%- endblock title -%}

{%- block meta -%}
    <link rel="canonical" href="https://docs.rs/crate/{{ details.name }}/latest" />
{%- endblock meta -%}

{%- block topbar -%}
  {%- set current_target = String::new() -%}
  {%- set metadata = details.metadata -%}
  {%- set latest_path = "" -%}
  {%- set inner_path = details.metadata.target_name_url() -%}
  {%- set is_latest_version = true -%}
  {%- set is_prerelease = false -%}
  {%- include "rustdoc/topbar.html" -%}
{%- endblock topbar -%}

{%- block header -%}
    {# Set the active tab to the `crate` tab #}
    {% call navigation::package_navigation(metadata=details.metadata, active_tab="crate") %}
{%- endblock header -%}

{%- block body -%}
    <div class="container package-page-container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-7-24 pure-u-md-5-24">
                <div class="pure-menu package-menu">
                    <ul class="pure-menu-list">
                        {%- if let (Some(documented), Some(total)) = (details.documented_items, details.total_items) -%}
                            {% set documented_f32 = documented|as_f32 %}
                            {% set total_f32 = total|as_f32 %}
                            {% set percent = documented_f32 * 100f32 / total_f32 %}
                            <li class="pure-menu-heading">Coverage</li>
                            <li class="pure-menu-item text-center"><b>{{ percent|round(2) }}%</b><br>
                                <span class="documented-info"><b>{{ documented }}</b> out of <b>{{ total }}</b> items documented</span>
                                {%- if let (Some(needing_examples), Some(with_examples)) = (details.total_items_needing_examples, details.items_with_examples) -%}
                                    <span class="documented-info"><b>{{ with_examples }}</b> out of <b>{{ needing_examples }}</b> items with examples</span>
                                {%- endif -%}
                            </li>
                        {%- endif -%}
                        <li class="pure-menu-heading">Links</li>

                        {# If the crate has a homepage, show it #}
                        {%- if let Some(homepage_url) = details.homepage_url -%}
                            <li class="pure-menu-item">
                                <a href="{{ homepage_url }}" class="pure-menu-link">
                                    {{ "house"|fas(false, false, "")|safe }} Homepage
                                </a>
                            </li>
                        {%- endif -%}

                        {# If the crate has a custom doc url, show it #}
                        {%- if let Some(documentation_url) = details.documentation_url -%}
                            <li class="pure-menu-item">
                                <a href="{{ documentation_url }}" title="Canonical documentation" class="pure-menu-link">
                                    {{ "file-lines"|far(false, false, "")|safe }} Documentation
                                </a>
                            </li>
                        {%- endif -%}

                        {# If the release has a repository, show it #}
                        {%- if let Some(repository_url) = details.repository_url -%}
                            <li class="pure-menu-item">
                                <a href="{{ repository_url }}" class="pure-menu-link">
                                    {# If the repo link is for github or gitlab, show some stats #}
                                    {# TODO: add support for hosts besides github and gitlab (#35) #}
                                    {%- if let Some(repository_metadata) = details.repository_metadata -%}
                                        {{ "code-branch"|fab(false, false, "")|safe }}
                                        {% if let Some(name) = repository_metadata.name %}
                                            {{name}}
                                        {% else %}
                                            Repository
                                        {% endif %}
                                        <br>
                                        {{ "star"|fas(false, false, "left-margin")|safe }} {{ repository_metadata.stars }}
                                        {{ "code-branch"|fas(false, false, "")|safe }} {{ repository_metadata.forks }}
                                        {{ "circle-exclamation"|fas(false, false, "")|safe }} {{ repository_metadata.issues }}

                                    {# If the repo link is unknown, just show a normal link #}
                                    {%- else -%}
                                        {{ "code-branch"|fas(false, false, "")|safe }} Repository
                                    {%- endif -%}
                                </a>
                            </li>
                        {%- endif -%}

                        {# Show a link to the crate's crates.io page #}
                        <li class="pure-menu-item">
                            <a href="https://crates.io/crates/{{ details.name }}" class="pure-menu-link"
                                title="See {{ details.name }} on crates.io">
                                {{ "cube"|fas(false, false, "")|safe }} crates.io
                            </a>
                        </li>

                        <li class="pure-menu-heading">Dependencies</li>
                        <li class="pure-menu-item">
                            <div class="pure-menu pure-menu-scrollable sub-menu">
                                <ul class="pure-menu-list">
                                    {# List all dependencies that the current release has #}
                                    {% call macros::dependencies_list(link_prefix="/crate", dependencies=details.dependencies, if_empty="&mdash;") %}
                                </ul>
                            </div>
                        </li>

                        <li class="pure-menu-heading">Versions</li>
                        <li class="pure-menu-item">
                            <div class="pure-menu pure-menu-scrollable sub-menu">
                                <ul class="pure-menu-list">
                                    {# Display all releases of this crate #}
                                    {% call macros::releases_list(name=details.name, releases=details.releases, target="", inner_path="") %}
                                </ul>
                            </div>
                        </li>

                        {# Display the crate owner's profile picture and a link to their docs.rs profile #}
                        <li class="pure-menu-heading">Owners</li>
                        <li class="pure-menu-item">
                            {%- for owner in details.owners -%}
                                <a href="https://crates.io/users/{{ owner.0 }}">
                                    <img src="{{ owner.1 }}" alt="{{ owner.0 }}" class="owner">
                                </a>
                            {%- endfor -%}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24 package-details" id="main">
                {# If the release is not a library #}
                {%- if details.is_library == Some(false) -%}
                    <div class="warning">
                        {{ details.name }}-{{ details.version }} is not a library.
                    </div>

                {# If the release has been yanked and is a library #}
                {%- elif details.metadata.yanked.unwrap_or_default() -%}
                    <div class="warning">
                        {{ details.name }}-{{ details.version }} has been yanked.
                    </div>

                {# If the build succeeded, isn't yanked and is a library #}
                {%- elif details.build_status == "success" -%}
                    {# If there are no docs display a warning #}
                    {%- if !details.rustdoc_status.unwrap_or_default() -%}
                        <div class="warning">{{ details.name }}-{{ details.version }} doesn't have any documentation.</div>
                    {%- endif -%}

                {# If the build failed, the release isn't yanked and the release is a library #}
                {%- elif details.build_status == "failure" -%}
                    {# Display a warning telling the user we failed to build the docs #}
                    <div class="warning">
                        docs.rs failed to build {{ details.name }}-{{ details.version }}
                        <br>
                        Please check the
                        <a href="/crate/{{ details.name }}/{{ details.version }}/builds">build logs</a> for more information.
                        <br>
                        See <a href="/about/builds">Builds</a> for ideas on how to fix a failed build,
                        or <a href="/about/metadata">Metadata</a> for how to configure docs.rs builds.
                        <br>
                        If you believe this is docs.rs' fault, <a href="https://github.com/rust-lang/docs.rs/issues/new/choose">open an issue</a>.
                    </div>
                {%- elif details.build_status == "in_progress" -%}
                    <div class="info">
                        {{ "gear"|fas(false, true, "")|safe }}
                        Build is in progress, it will be available soon
                    </div>
                {%- endif -%}

                {# If there is one, display the next most recent successful build #}
                {%- if let Some(last_successful_build) = details.last_successful_build -%}
                    <div class="info">
                        Visit the last successful build:
                        <a href="/crate/{{ details.name }}/{{ last_successful_build }}">
                            {{ details.name }}-{{ last_successful_build }}
                        </a>
                    </div>
                {%- endif -%}

                {# If there's a readme, display it #}
                {%- if let Some(readme) = details.readme -%}
                    {{ crate::web::markdown::render(readme)|safe }}

                {# If there's not a readme then attempt to display the long description #}
                {%- elif let Some(rustdoc) = details.rustdoc -%}
                    {{ rustdoc|safe }}
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endblock body -%}
