{% extends "base.html" %}
{%- import "header/package_navigation.html" as navigation -%}

{%- block title -%}
    {% call macros::doc_title(name=metadata.name, version=metadata.version) %}
{%- endblock title -%}

{%- block meta -%}
<link rel="canonical" href="{{ canonical_url|safe }}" />
{%- endblock -%}

{%- block topbar -%}
  {%- set current_target = String::new() -%}
  {%- set latest_version = "" -%}
  {%- set latest_path = "" -%}
  {%- set target = "" -%}
  {%- set inner_path = metadata.target_name_url() -%}
  {%- set is_latest_version = true -%}
  {%- set is_prerelease = false -%}
  {%- include "rustdoc/topbar.html" -%}
{%- endblock topbar -%}

{%- block header -%}
    {% call navigation::package_navigation(metadata=metadata, active_tab="features") %}
{%- endblock header -%}

{%- block body -%}
    <div class="container package-page-container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-7-24 pure-u-md-5-24">
                <div class="pure-menu package-menu">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-heading">Feature flags</li>
                        {%- if let Some(features) = features -%}
                            {%- if features.is_empty() -%}
                                <li class="pure-menu-item">
                                   <span class="documented-info">This release does not have any feature flags.</span>
                                </li>
                            {%- else %}
                                {%- for feature in features -%}
                                    <li class="pure-menu-item">
                                        <a href="#{{ feature.name }}" class="pure-menu-link text-center">
                                            {{- feature.name -}}
                                        </a>
                                    </li>
                                {%- endfor %}
                            {%- endif -%}
                        {%- else %}
                            <li class="pure-menu-item">
                                <span class="documented-info">
                                    Feature flags are not available for this release because the build failed before we could retrieve them,
                                    or it was built before features were collected by docs.rs.
                                </span>
                            </li>
                    {%- endif -%}
                    </ul>
                </div>
            </div>

            <div class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24 package-details" id="main">
                <h1>{{ metadata.name }}</h1>
                <div class="info">
                    There is very little structured metadata to build this page
                    from currently. You should check the
                    <a href="/{{ metadata.name }}/{{ metadata.req_version }}/{{ metadata.target_name.as_deref().unwrap_or_default() }}/">main library docs</a>,
                    <a href="/crate/{{ metadata.name }}/{{ metadata.req_version }}/">readme</a>, or
                    <a href="/crate/{{ metadata.name }}/{{ metadata.req_version }}/source/Cargo.toml.orig">Cargo.toml</a>
                    in case the author documented the features in them.
                </div>
                {%- if let Some(features) = self.features -%}
                    {%- if features.is_empty() -%}
                        <p data-id="empty-features">This release does not have any feature flags.</p>
                    {%- else -%}
                        <p>This version has <b>{{ features.len() }}</b> feature flags, <b data-id="default-feature-len">{{ default_len }}</b> of them enabled by <b>default</b>.</p>
                        {%- for feature in features -%}
                            <h3 id="{{ feature.name }}">{{ feature.name }}</h3>
                            <ul class="pure-menu-list">
                                {%- if !feature.subfeatures.is_empty() -%}
                                    {%- for subfeature in feature.subfeatures -%}
                                        <li class="pure-menu-item">
                                            <span>{{ subfeature }}</span>
                                        </li>
                                    {%- endfor -%}
                                {%- else -%}
                                    <p>This feature flag does not enable additional features.</p>
                                {%- endif -%}
                            </ul>
                        {%- endfor -%}
                    {% endif -%}
                {% else -%}
                    <p data-id="null-features">Feature flags are not available for this release because it was built before features were collected by docs.rs.</p>
            {%- endif -%}
            </div>
        </div>
    </div>
{%- endblock body -%}
