{% extends "base.html" %}
{%- import "header/package_navigation.html" as navigation -%}

{%- block title -%}
    {% call macros::doc_title(name=metadata.name, version=metadata.version) %}
{%- endblock title -%}

{%- block topbar -%}
  {%- set metadata = metadata -%}
  {%- set current_target = String::new() -%}
  {%- set latest_version = "" -%}
  {%- set latest_path = "" -%}
  {%- set target = "" -%}
  {%- set inner_path = metadata.target_name_url() -%}
  {%- set is_latest_version = true -%}
  {%- set is_prerelease = false -%}
  {%- include "rustdoc/topbar.html" -%}
{%- endblock topbar -%}

{%- block header -%}
    {# Set the active tab to the `source` tab #}
    {% call navigation::package_navigation(metadata=metadata, active_tab="source") %}
{%- endblock header -%}

{%- block body_classes -%}
    {%- if file_content.is_some() -%}flex{%- endif -%}
{%- endblock body_classes -%}

{%- block body -%}
    {% set has_file_content = file_content.is_some() %}
    <div class="container package-page-container small-bottom-pad">
        <div class="pure-g">
            <div id="side-menu" class="pure-u-1 {% if has_file_content || is_file_too_large %}pure-u-sm-7-24 pure-u-md-5-24 {% endif %}{% if has_file_content %}source-view{% endif %}">
                <div class="pure-menu package-menu">
                    <ul class="pure-menu-list">
                        {# If we are displaying a file, we also add a button to hide the file sidebar #}
                        {% if has_file_content %}
                            <li class="pure-menu-item toggle-source">
                                <button aria-label="Hide source sidebar" title="Hide source sidebar" aria-expanded="true"><span class="left">{{ "chevron-left"|fas(false, false, "") }}</span><span class="right">{{ "chevron-right"|fas(false, false, "") }}</span> <span class="text">Hide files</span></button>
                            </li>
                        {% endif %}
                        {# If this isn't the root folder, show a 'back' button #}
                        {%- if show_parent_link -%}
                            <li class="pure-menu-item">
                                <a href="../" class="pure-menu-link">{{ "folder-open"|far(false, false, "") }} <span class="text">..</span></a>
                            </li>
                        {%- endif -%}

                        {%- for file in file_list.files -%}
                            <li class="pure-menu-item">
                                {#
                                    Show a link to the file with a fancy icon. If the file is a directory,
                                    `/` is appended to show the contents of the folder
                                #}
                                <a href="./{{ file.name }}{% if file.mime == "dir" %}/{% endif %}" class="pure-menu-link">
                                    {# Directories #}
                                    {%- if file.mime == "dir" -%}
                                        {{ "folder-open"|far(false, false, "") }}

                                    {# Rust files #}
                                    {%- elif file.mime == "text/rust" -%}
                                        {{ "rust"|fab(false, false, "") }}

                                    {# Cargo.lock #}
                                    {%- elif file.mime == "text/plain" && file.name == "Cargo.lock" -%}
                                        {{ "lock"|fas(false, false, "") }}

                                    {# Markdown files #}
                                    {% elif file.mime == "text/markdown" %}
                                        {{ "markdown"|fab(false, false, "") }}

                                    {# .gitignore #}
                                    {% elif file.mime == "text/plain" && file.name == ".gitignore" %}
                                        {{ "git-alt"|fab(false, false, "") }}

                                    {#
                                        More ideas
                                            FontAwesome v5:
                                                ".application/x-bzip"
                                               |"application/gzip"
                                               |"application/x-bzip2"
                                               |"application/vnd.rar"
                                               |"application/x-tar"
                                               |"application/zip"
                                               |"application/x-7z-compressed" => https://fontawesome.com/icons/file-archive
                                                "text/javascript" => https://fontawesome.com/icons/js
                                                "application/java-archive" => https://fontawesome.com/icons/java
                                            DevOpticons (https://github.com/file-icons/DevOpicons):
                                                "text/rust" => https://github.com/file-icons/DevOpicons/blob/master/charmap.md#Rust
                                                "text/css" => https://github.com/file-icons/DevOpicons/blob/master/charmap.md#CSS3,%20Full
                                                "text/html" => https://github.com/file-icons/DevOpicons/blob/master/charmap.md#HTML5
                                    #}

                                    {# Text files or files which mime starts with `text` #}
                                    {%- elif file.mime == "text/plain" || file.mime|split_first("/") == Some("text") -%}
                                        {{ "file-alt"|far(false, false, "") }}

                                        {# Binary files and any unrecognized types #}
                                    {% else -%}
                                        {{ "file-archive"|far(false, false, "") }}
                                    {%- endif -%}

                                    <span class="text">{{ file.name }}</span>
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>

            {# If the file exeeded the maximum size, display a warning #}
            {%- if is_file_too_large -%}
                <div id="source-warning" class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24">
                    <div class="warning">
                        <p>
                            This file is too large to display.
                        </p>
                    </div>
                </div>
            {%- endif -%}

            {# If the file has content, then display it in a codeblock #}
            {%- if let Some(file_content) = file_content -%}
                {% set file_name %}
                {% if let Some(file) = file %}
                    {% set file_name = file.name.as_str() %}
                {% else %}
                    {% set file_name = "" %}
                {% endif %}
                <div id="source-code-container" class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24">
                    <div data-nosnippet class="source-code"><pre id="line-numbers"><code>
                        {%- for line in 1..=file_content.lines().count() -%}
                            <a href="#{{line}}" id="{{line}}">{{line}}</a>
                        {%~ endfor -%}
                    </code></pre></div>
                    <div id="source-code" class="source-code">
                        {{- file_content|highlight(file_name) -}}
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
{%- endblock body -%}

{%- block javascript -%}
    {% if file_content.is_some() %}
        <script nonce="{{ csp_nonce }}" type="text/javascript" src="/-/static/source.js?{{ crate::BUILD_VERSION|slugify }}"></script>
    {% endif %}
{%- endblock javascript -%}
