{{> header}}

<div class="container about">
  <p>
  Docs.rs (formerly cratesfyi) is an
  <a href="https://github.com/rust-lang/docs.rs">open source</a>
  documentation host for crates of the
  <a href="https://www.rust-lang.org/">Rust Programming Language</a>.
  </p>

  <p>
  Docs.rs automatically builds crates' documentation released on
  <a href="https://crates.io/">crates.io</a>
  using the nightly release of the Rust compiler.
  {{#if content.rustc_version}}
  The current version of the Rust compiler in use is <code>{{content.rustc_version}}</code>.
  If you need a newer version of this compiler, check the
  <a href="https://github.com/rust-lang/docs.rs/issues">issues page</a>
  and file a new issue if you don't see an existing request.
  {{/if}}
  </p>

  <p>
  The source code of Docs.rs is available on
    <a href="https://github.com/rust-lang/docs.rs" target="_blank">GitHub</a>. If
  you ever encounter an issue, don't hesitate to report it! (And
  thanks in advance!)
  </p>

  <p>
  The README of a crate is taken from the <code>readme</code> field defined in
  <code>Cargo.toml</code>. If a crate doesn't have this field,
  no README will be displayed.
  </p>

  <h4>Global sandbox limits</h4>

  <p>
  All the builds on docs.rs are executed inside a sandbox with limited
  resources. The current limits are the following:
  </p>

  <table class="pure-table pure-table-horizontal">
    <tbody>
      {{#each content.limits}}
      <tr>
        <td>{{{@key}}}</td>
        <td>{{this}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <p>
  If a build fails because it hit one of those limits please
  <a href="https://github.com/rust-lang/docs.rs/issues/new/choose">open an issue</a>
  to get them increased for your crate.
  </p>

  <h4>Redirections</h4>

  <p>
  Docs.rs is using semver to parse URLs. You can use this feature to access
  crates' documentation easily. Example of URL redirections for
  <code>clap</code> crate:
  </p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>URL</th>
        <th>Redirects to documentation of</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://docs.rs/clap">docs.rs/clap</a></td>
        <td>Latest version of clap</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/%7E2">docs.rs/clap/~2</a></td>
        <td>2.* version</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/%7E2.9">docs.rs/clap/~2.9</a></td>
        <td>2.9.* version</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/2.9.3">docs.rs/clap/2.9.3</a></td>
        <td>2.9.3 version (you don't need <code>=</code> unlike semver)</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/*/clap/struct.App.html">docs.rs/clap/*/clap/struct.App.html</a></td>
        <td>Latest version of this page (if it still exists). "latest" or "newest" work as well as <code>*</code>.</td>
      </tr>
    </tbody>
  </table>

  <h4>Badges</h4>
  <p>
  You can use badges to show state of your documentation to your users.
  The default badge will be pointed at the latest version of a crate.
  You can use <code>version</code> parameter to show status of documentation for
  any version you want.
  </p>
  <p>
  Badge will display in blue if docs.rs is successfully hosting your crate
  documentation, and red if building documentation failing.
  </p>
  <p>Example badges for mio crate:</p>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>URL</th>
        <th>Badge</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Latest version: <a href="https://docs.rs/mio/badge.svg">https://docs.rs/mio/badge.svg</a></td>
        <td><img src="https://docs.rs/mio/badge.svg" alt="mio"/></td>
      </tr>
      <tr>
        <td>Version 0.4.4: <a href="https://docs.rs/mio/badge.svg?version=0.4.4">https://docs.rs/mio/badge.svg?version=0.4.4</a></td>
        <td><img src="https://docs.rs/mio/badge.svg?version=0.4.4" alt="mio"/></td>
      </tr>
      <tr>
        <td>Version 0.1.0: <a href="https://docs.rs/mio/badge.svg?version=0.1.0">https://docs.rs/mio/badge.svg?version=0.1.0</a></td>
        <td><img src="https://docs.rs/mio/badge.svg?version=0.1.0" alt="mio"/></td>
      </tr>
    </tbody>
  </table>

  <h4 id="metadata"><a href="#metadata">Metadata for custom builds</a></h4>

  <p>You can customize docs.rs builds by defining <code>[package.metadata.docs.rs]</code> table in your crates' `Cargo.toml`.</p>

  <p>The available configuration flags you can customize are:</p>

  <pre><code>[package]
name = "test"

[package.metadata.docs.rs]

# Features to pass to Cargo (default: none)
features = [ "feature1", "feature2" ]

# Whether to pass `--all-features` to Cargo (default: false)
all-features = true

# Whether to pass `--no-default-features` to Cargo (default: false)
no-default-features = true

# Target to test build on, used as the default landing page (default: "x86_64-unknown-linux-gnu")
#
# Available targets:
# - x86_64-unknown-linux-gnu
# - x86_64-apple-darwin
# - x86_64-pc-windows-msvc
# - i686-unknown-linux-gnu
# - i686-apple-darwin
# - i686-pc-windows-msvc
default-target = "x86_64-unknown-linux-gnu"

# Additional `RUSTFLAGS` to set (default: none)
rustc-args = [ "--example-rustc-arg" ]

# Additional `RUSTDOCFLAGS` to set (default: none)
rustdoc-args = [ "--example-rustdoc-arg" ]</pre></code>

  <h4>Version</h4>
  <p>Currently running Docs.rs version is: <strong>{{cratesfyi_version}}</strong>

  <h4>Contact</h4>
  <p>
    Docs.rs is run and maintained by the <a href="https://www.rust-lang.org/governance/teams/dev-tools#docs-rs" target="_blank">Docs.rs team</a>.
    You can find us in #docs-rs on <a href="https://discordapp.com/invite/f7mTXPW/" target="_blank">Discord</a>.
  </p>

</div>

{{> footer}}
