{{> header}}

<div class="container about">
  <p>
  Docs.rs (formerly cratesfyi) is an open source project to host
  documentation of crates for the Rust Programming Language.
  </p>

  <p>
  Docs.rs automatically builds crates' documentation released on
  <a href="https://crates.io/">crates.io</a>
  using the nightly release of the Rust compiler.
  </p>

  <p>
  The source code of Docs.rs is available on
    <a href="https://github.com/rust-lang-nursery/docs.rs" target="_blank">GitHub</a>. If
  you ever encounter an issue, don't hesitate to report it! (And
  thanks in advance!)
  </p>

  <p>
  The README of a crate is taken from the <code>readme</code> field defined in
  <code>Cargo.toml</code>. If a crate doesn't have this field,
  no README will be displayed.
  </p>

  <h4>Redirections</h4>

  <p>
  Docs.rs is using semver to parse URLs. You can use this feature to access
  crates' documentation easily. Example of URL redirections for
  <code>clap</code> crate:
  </p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>URL</th>
        <th>Redirects to documentation of</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://docs.rs/clap">docs.rs/clap</a></td>
        <td>Latest version of clap</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/%5E2">docs.rs/clap/~2</a></td>
        <td>2.* version</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/%5E2.9">docs.rs/clap/~2.9</a></td>
        <td>2.9.* version</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/2.9.3">docs.rs/clap/2.9.3</a></td>
        <td>2.9.3 version (you don't need <code>=</code> unlike semver)</td>
      </tr>
    </tbody>
  </table>

  <p>The <a href="https://crates.fyi/">crates.fyi</a> domain will redirect to
  <a href="https://docs.rs/">docs.rs</a>, supporting all of the redirects discussed
  above</p>

  <h4>Badges</h4>
  <p>
  You can use badges to show state of your documentation to your users.
  The default badge will be pointed at the latest version of a crate.
  You can use <code>version</code> parameter to show status of documentation for
  any version you want.
  </p>
  <p>
  Badge will display in blue if docs.rs is successfully hosting your crate
  documentation, and red if building documentation failing.
  </p>
  <p>Example badges for mio crate:</p>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>URL</th>
        <th>Badge</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Latest version: <a href="https://docs.rs/mio/badge.svg">https://docs.rs/mio/badge.svg</a></td>
        <td><img src="https://docs.rs/mio/badge.svg" alt="mio"/></td>
      </tr>
      <tr>
        <td>Version 0.4.4: <a href="https://docs.rs/mio/badge.svg?version=0.4.4">https://docs.rs/mio/badge.svg?version=0.4.4</a></td>
        <td><img src="https://docs.rs/mio/badge.svg?version=0.4.4" alt="mio"/></td>
      </tr>
      <tr>
        <td>Version 0.1.0: <a href="https://docs.rs/mio/badge.svg?version=0.1.0">https://docs.rs/mio/badge.svg?version=0.1.0</a></td>
        <td><img src="https://docs.rs/mio/badge.svg?version=0.1.0" alt="mio"/></td>
      </tr>
    </tbody>
  </table>

  <h4>Metadata for custom builds</h4>

  <p>You can customize docs.rs builds by defining <code>[package.metadata.docs.rs]</code> table in your crates' `Cargo.toml`.</p>

  <p>An example metadata:</p>

  <pre><code>[package]
  name = "test"

  [package.metadata.docs.rs]
  features = [ "feature1", "feature2" ]
  all-features = true
  no-default-features = true
  default-target = "x86_64-unknown-linux-gnu"
  rustc-args = [ "--example-rustc-arg" ]
  rustdoc-args = [ "--example-rustdoc-arg" ]
  dependencies = [ "example-system-dependency" ]</pre></code>

  <h4>Version</h4>
  <p>Currently running Docs.rs version is: <strong>{{cratesfyi_version}}</strong>

  <h4>Contributors</h4>
  <ul>
    <li><a href="https://github.com/onur" target="_blank">Onur Aslan</a></li>
    <li><a href="https://github.com/jonhoo" target="_blank">Jon Gjengset</a></li>
    <li><a href="https://github.com/Byron" target="_blank">Sebastian Thiel</a></li>
    <li><a href="https://github.com/GuillaumeGomez" target="_blank">Guillaume Gomez</a></li>
    <li><a href="https://github.com/kivikakk" target="_blank">Ashe Connor</a></li>
    <li><a href="https://github.com/samueltardieu" target="_blank">Samuel Tardieu</a></li>
    <li><a href="https://github.com/frewsxcv" target="_blank">Corey Farwell</a></li>
    <li><a href="https://github.com/notriddle" target="_blank">Michael Howell</a></li>
    <li><a href="https://github.com/durka" target="_blank">Alex Burka</a></li>
    <li><a href="https://github.com/hngnaig" target="_blank">Giang Nguyen</a></li>
    <li><a href="https://github.com/phaazon" target="_blank">Dimitri Sabadie</a></li>
    <li><a href="https://github.com/Nemikolh" target="_blank">Nemikolh</a></li>
    <li><a href="https://github.com/bluss" target="_blank">bluss</a></li>
    <li><a href="https://github.com/passy" target="_blank">Pascal Hartig</a></li>
    <li><a href="https://github.com/mattyhall" target="_blank">Matthew Hall</a></li>
    <li><a href="https://github.com/Mark-Simulacrum" target="_blank">Mark Simulacrum</a></li>
  </ul>

  <h4>Sponsors</h4>
  <p>Hosting generously provided by:</p>
  <p><a href="http://www.leaseweb.com" title="LeaseWeb offers hosted infrastructure solutions, including Cloud, CDN, Bare Metal Servers, Managed Hosting, Colocation, and Hybrid hosting" target="_blank"><img src="/leaseweb.gif" alt="Powered by LeaseWeb" width="150" height="40"/></a></p>
  <p>If you are interested in sponsoring Docs.rs, please don't hesitate to contact us at <a href="&#109;&#97;&#105;&#x6c;&#x74;&#111;&#x3a;&#x6f;&#110;&#117;&#114;&#64;&#x6f;&#110;&#117;&#114;&#x2e;&#105;&#109;">&#x6f;&#110;&#117;&#114;&#64;&#x6f;&#110;&#117;&#114;&#x2e;&#105;&#109;</p>
</div>

{{> footer}}
