{{> header}}

<div class="container about">
  <p>
  Docs.rs (formerly cratesfyi) is an open source project to host
  documentation of crates for the Rust Programming Language.
  </p>

  <p>
  Docs.rs automatically builds crates' documentation released on
  <a href="https://crates.io/">crates.io</a>
  using the nightly release of the Rust compiler.
  {{#if content.rustc_version}}
  The current version of the Rust compiler in use is <code>{{content.rustc_version}}</code>.
  If you need a newer version of this compiler, check the
  <a href="https://github.com/rust-lang/docs.rs/issues">issues page</a>
  and file a new issue if you don't see an existing request.
  {{/if}}
  </p>

  <p>
  The source code of Docs.rs is available on
    <a href="https://github.com/rust-lang/docs.rs" target="_blank">GitHub</a>. If
  you ever encounter an issue, don't hesitate to report it! (And
  thanks in advance!)
  </p>

  <p>
  The README of a crate is taken from the <code>readme</code> field defined in
  <code>Cargo.toml</code>. If a crate doesn't have this field,
  no README will be displayed.
  </p>

  <h4>Redirections</h4>

  <p>
  Docs.rs is using semver to parse URLs. You can use this feature to access
  crates' documentation easily. Example of URL redirections for
  <code>clap</code> crate:
  </p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>URL</th>
        <th>Redirects to documentation of</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://docs.rs/clap">docs.rs/clap</a></td>
        <td>Latest version of clap</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/%7E2">docs.rs/clap/~2</a></td>
        <td>2.* version</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/%7E2.9">docs.rs/clap/~2.9</a></td>
        <td>2.9.* version</td>
      </tr>
      <tr>
        <td><a href="https://docs.rs/clap/2.9.3">docs.rs/clap/2.9.3</a></td>
        <td>2.9.3 version (you don't need <code>=</code> unlike semver)</td>
      </tr>
    </tbody>
  </table>

  <h4>Badges</h4>
  <p>
  You can use badges to show state of your documentation to your users.
  The default badge will be pointed at the latest version of a crate.
  You can use <code>version</code> parameter to show status of documentation for
  any version you want.
  </p>
  <p>
  Badge will display in blue if docs.rs is successfully hosting your crate
  documentation, and red if building documentation failing.
  </p>
  <p>Example badges for mio crate:</p>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>URL</th>
        <th>Badge</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Latest version: <a href="https://docs.rs/mio/badge.svg">https://docs.rs/mio/badge.svg</a></td>
        <td><img src="https://docs.rs/mio/badge.svg" alt="mio"/></td>
      </tr>
      <tr>
        <td>Version 0.4.4: <a href="https://docs.rs/mio/badge.svg?version=0.4.4">https://docs.rs/mio/badge.svg?version=0.4.4</a></td>
        <td><img src="https://docs.rs/mio/badge.svg?version=0.4.4" alt="mio"/></td>
      </tr>
      <tr>
        <td>Version 0.1.0: <a href="https://docs.rs/mio/badge.svg?version=0.1.0">https://docs.rs/mio/badge.svg?version=0.1.0</a></td>
        <td><img src="https://docs.rs/mio/badge.svg?version=0.1.0" alt="mio"/></td>
      </tr>
    </tbody>
  </table>

  <h4>Metadata for custom builds</h4>

  <p>You can customize docs.rs builds by defining <code>[package.metadata.docs.rs]</code> table in your crates' `Cargo.toml`.</p>

  <p>An example metadata:</p>

  <pre><code>[package]
name = "test"

[package.metadata.docs.rs]
features = [ "feature1", "feature2" ]
all-features = true
no-default-features = true
default-target = "x86_64-unknown-linux-gnu"
rustc-args = [ "--example-rustc-arg" ]
rustdoc-args = [ "--example-rustdoc-arg" ]
# the dependencies key is not being used for builds yet
dependencies = [ "example-system-dependency" ]</pre></code>

  <h4>Version</h4>
  <p>Currently running Docs.rs version is: <strong>{{cratesfyi_version}}</strong>

  <h4>Contact</h4>
  <p>Docs.rs is run and maintaned by <a href="https://www.rust-lang.org/governance/teams/dev-tools#Rustdoc%20team-info" target="_blank">Rustdoc team</a>. You can find us in #rustdoc on <a href="https://discord.gg/rust-lang" target="_blank">Discord</a>.</p>

</div>

{{> footer}}
