{{#if varsb.javascript_highlightjs}}<script type="text/javascript" charset="utf-8">hljs.initHighlighting();</script>{{/if}}
<script type="text/javascript" src="/menu.js?{{cratesfyi_version_safe}}"></script>
</body>
</html>
