{{#if ../has_global_alert}}
<li class="pure-menu-item">
  <a href="{{../global_alert.url}}" class="pure-menu-link warn">
    <i class="fa fa-fw fa-warning"></i>
    {{../global_alert.text}}
    <i class="fa fa-fw fa-warning"></i>
  </a>
</li>
{{/if}}

