<!DOCTYPE html>
<html lang="en">
  <head>
    {{{content.rustdoc_head}}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/menus-min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/style.css?{{cratesfyi_version_safe}}" type="text/css" media="all" />
    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Docs.rs">
  </head>
  <body>
    {{> navigation_rustdoc}}
    <div class="rustdoc container-rustdoc">
      {{{content.rustdoc_body}}}
    </div>
  </body>
</html>
