---

on: [push, pull_request]
name: CI

env:
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:

      - uses: actions/checkout@master
        with:
          fetch-depth: 2

      - name: Install stable Rust
        run: |
          rustup update stable
          rustup default stable

      - name: Install PostgreSQL (Linux)
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update && DEBIAN_FRONTEND=noninteractive sudo apt-get install -y postgresql
          sudo systemctl start postgresql
        
      - name: Install PostgreSQL (Windows)
        if: contains(matrix.os, 'windows')
        run: choco install postgresql
        
      - name: Setup Postgres
        run: |
          createuser postgres -w
          createdb postgres -O postgres
          echo "::set-env name=CRATESFYI_DATABASE_URL::postgresql://postgres@%2Fvar%2Frun%2Fpostgresql/postgres"

      - name: Build docs.rs
        run: cargo build

      - name: Prepare the test environment
        run: |
          prefix=$(pwd)/ignored/prefix
          mkdir -p ${prefix}/public-html
          echo "::set-env name=CRATESFYI_PREFIX::${prefix}"

      - name: Test docs.rs
        run: cargo test -- --test-threads=1

  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@master
        with:
          fetch-depth: 2

      - name: Build the Docker image
        run: docker build -t docsrs .

      - name: Upload the Docker image to ECR
        uses: rust-lang/simpleinfra/github-actions/upload-docker-image@master
        with:
          image: docsrs
          repository: docsrs
          region: us-west-1
          aws_access_key_id: "${{ secrets.aws_access_key_id }}"
          aws_secret_access_key: "${{ secrets.aws_secret_access_key }}"
        if: github.ref == 'refs/heads/master'
