name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * *"

env:
  RUST_CACHE_KEY: rust-cache-20241114
  # disable incremental builds in CI, it's not needed
  CARGO_INCREMENTAL: 0


jobs:
  sqlx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: install `just`
        run: sudo snap install --edge --classic just

      - uses: cargo-bins/cargo-binstall@main

      - name: restore build & cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ env.RUST_CACHE_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: install SQLX CLI
        run: cargo binstall sqlx-cli

      - name: run sqlx migration up & down
        run: |
          just sqlx-migrate-run \
            sqlx-check \
            sqlx-migrate-revert

      - name: shut down test environment
        if: ${{ always() }}
        run: just compose-down-and-wipe

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: install `just`
        run: sudo snap install --edge --classic just

      - name: restore build & cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ env.RUST_CACHE_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: run tests
        run: just run-tests run-builder-tests

      - name: shut down test environment
        if: ${{ always() }}
        run: just compose-down-and-wipe

  GUI_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: install `just`
        run: sudo snap install --edge --classic just

      - name: Run GUI tests
        run: just run-gui-tests

      - name: shut down test environment
        if: ${{ always() }}
        run: just compose-down-and-wipe

  lint-rs:
    name: rust linters
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: install `just`
        run: sudo snap install --edge --classic just

      - name: restore build & cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ env.RUST_CACHE_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - run: just lint

  lint-js:
    name: js linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2

      - name: install `just`
        run: sudo snap install --edge --classic just

      - run: just lint-js

  lint-actions:
    name: gh actions linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # We check that all github actions workflows have valid syntax
      - name: Validate YAML file
        uses: raven-actions/actionlint@v2
        with:
          files: .github/workflow/*
          flags: "-ignore SC2086"  # ignore some shellcheck errors
