name: Docker

on: [push, pull_request]

jobs:
  docker:
    name: Test docker image builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - run: docker build --target web-server -f dockerfiles/Dockerfile .
      - run: docker build --target build-server -f dockerfiles/Dockerfile .
      - run: docker build --target registry-watcher -f dockerfiles/Dockerfile .
      - run: docker build --target cli -f dockerfiles/Dockerfile .
