# .github/workflows/example.yml

name: Merge upstream branches
on:
  schedule:
     # actually, ~5 minutes is the highest
     # effective frequency you will get
    - cron:  '* * * * *'
jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge upstream
        run: |
          git config --global user.name 'ohaddahan'
          git config --global user.email 'ohaddahan@users.noreply.github.com'
          git checkout master
          git pull --unshallow  # this option is very important, you would get
                                # complains about unrelated histories without it.
                                # (but actions/checkout@v2 can also be instructed
                                # to fetch all git depth right from the start)
          git remote add upstream git@github.com:rust-lang/docs.rs.git
          git fetch upstream
          git checkout master
          git merge --no-edit upstream/master
          git push origin master
